/* general form styles */

/* all p and li's in form..may need more elements  */
.field-name-body p, .field-name-body li {font-weight:400;color:#555555;}

legend {color:#FFF;background-color:#AAAAAA;box-shadow: 1px 0px 1px #CCCCCC;margin-left:-20px;margin-top:-32px;min-width:450px;height:2.5em;}
.fieldset-legend {font-size:1.1em;padding:.5em;display:block;font-weight:700;text-shadow: 0 1px 1px #666666;} 


fieldset {
     background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.05, #EDF0ED),
	color-stop(1, #FFFFFF),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
     border:1px solid #CCCCCC;
    padding:1.5em;
   margin-top:3.5em;
}

.webform-client-form p {color:#333333;}


label {color:#333333;font-weight:700;}

fieldset.captcha {position:relative;background-image:none !important;}
fieldset.captcha legend  {background-color:#FFF;width:6em;min-width:6em;box-shadow: 0px 0 0px #FFF;position:absolute;left:62px;top:39px;}
fieldset.captcha legend span.fieldset-legend {color:#555555;font-weight:700;text-transform:capitalize !important;}
fieldset.captcha .fieldset-description {color:#555555;}
fieldset.captcha .fieldset-wrapper {margin-left:1.8em;margin-top:2em;}
fieldset.captcha .form-item-captcha-response {background-color:#E6E6E6;border:1px solid #CCCCCC;margin-top:1em;font-weight:700;color:#555555;padding:.4em 1em .4em 1em;margin-right:3em;}

fieldset.captcha .description {font-size:1em;}

#edit-actions {display:block;float:right;height:3em;width:12em;border:0px solid green;background-color:#E6E6E6;margin-right:5.5em;}
#edit-submit { 
    background-clip: padding-box;
    background-color: #0058B7;
    background: rgba(0, 88, 183, 1);
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #E2E2E2 1%, #1859B7 59%, #1859B7 50%, #1859B7 100%);
    border-color: #1859B7;
    box-shadow: 0 0 0.1em 1px rgba(255, 255, 255, 0.36) inset;
    text-shadow: 0 1px 1px #001B38;
    color:#FFF;font-weight:700;
    width:10em;
    float:right;
    position:relative;
    margin-left:2em;margin-top:.8em;margin-right:2em;
    left:0;
 }


/* ====================================  */

fieldset.collapsible {background:none;}
fieldset.collapsible legend {background:none;background-color:none;box-shadow:none;}
fieldset.collapsible legend span.fieldset-legend a.fieldset-title {display:block;margin-top:-6px;}
fieldset.collapsed {background:none;}

.webform-client-form  input {position:absolute;left:23em;width:45em;}
.form-select {position:absolute;left:22em;}

.form-item {margin-top: 3em;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
.form-select {padding-right: 1em;}
}


.form-type-radio {display:inline;color:green;border:0px solid red;width:12em;margin-right:3em;}
input.form-radio  {position:relative;display:inline;color:blue;border:1px solid black;left:.5em;;width:1em;margin-bottom:2px;}
label.option {padding-left:1em}
html.js input.webform-calendar {width:1.4em;left:20em;margin-left:.2em;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
html.js input.webform-calendar {width:1.4em;left:18em;margin-left:.2em;}
}


textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: #CCCCCC #CCCCCC #CCCCCC;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 13px;
    outline: 0 none;
    padding: 2px 3px;
}

.form-textarea-wrapper textarea {width:45em;display:inline;margin-left:22em;margin-top:-2.1em;
     background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.05, #E2E2E2),
	color-stop(1, #FFFFFF),
	color-stop(1, #FFFFFF)
       );
       background-image: -o-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
       background-image: -moz-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
       background-image: -webkit-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
       background-image: -ms-linear-gradient(bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
       background-image: linear-gradient(to bottom, #E2E2E2 5%, #FFFFFF 100%, #FFFFFF 100%);
}
.grippie {width:45em;margin-left:22em;}

/* for file uploads..like large print form  */
.form-managed-file .form-file   {left:0;position:relative;width:16em;border:0px solid red;}
.form-managed-file .form-submit {left:0;position:relative;width:6em;border:0px solid green;}


/* ====================================  */
/* all below is layout  */


.webform-datepicker {position:absolute;left:16.8em;}
.webform-datepicker .form-select{position:relative;left:5.2em;}
.webform-calendar {margin-top:-2em;margin-left:-3em;}

/* fieldsets change the calculation for the width of the labels */
fieldset fieldset .form-type-radio label{width:12em;}
fieldset fieldset fieldset .form-type-radio label{width:10em;}

fieldset fieldset .form-type-checkbox label{width:12em;}
fieldset fieldset fieldset .form-type-checkbox label{width:10em;}

/* fieldsets change the calculation for the left edge of the field */
fieldset .webform-datepicker {position:absolute;left:18em;}

/* conditional fieldset adjustment - used on reserve form,vha, new hires etc. */
#webform-component-contact-us{border:none;}
#webform-component-contact-us legend span.fieldset-legend{height:0;background-position:5px 40%;}

/* fix captcha placement */
fieldset.captcha legend span.fieldset-legend{padding-left:0;}
#edit-captcha-response{position:relative;left:0;width:3em;}

/* because submit button was way down in the footer */
#edit-actions{display:block;margin-bottom:4em;}

/* = = = = = = = = = = = = = = = = = = = = = =  */
/* form/node specific styles */
