/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {background-color: #f2f2f2;
  font-family: 'Droid Sans', sans-serif;
  font-size:81.25%;      
  line-height:1.5em; 
  margin:0;padding:0;
  background-color: #F2F2F2;}

hr {background: #555 none repeat scroll 0 0;}
/* other styles (like for headings etc.) might still be brought in from the theme RUL D7) */



#zone-header-menu {background-color: #f2f2f2;}
.branding-data {background-color: #FFF;}
.region-content-inner {background-color: #fff;padding:1em;}

#projectDesc {display:block;float:left;padding-top:1em;}
#region-branding  {display:none;}
#zone-header-menu {display:none;}


#region-sitename {background-color:#000;height:30px;}
#region-sitename .content {padding:6px;}
#region-sitename A {color:#FFF;font-size:18px;text-decoration:none;}


#camdenPic {display:none;}


/* Pulled styles from /contact form */

#s-la-askform-section-3879 legend {display:none}
.s-la-widget fieldset {margin-bottom:24px !important}
.s-la-widget-embed {border:none !important;padding:0 !important}
.s-la-widget .form-horizontal .control-label {text-align:left;font-weight:400}
.s-la-widget label {color:#333}
.s-la-widget .form-control {
  border-radius: 0px !important;
  height: auto !important;
  font-size: 16px !important;
  line-height: 1.5em !important;
  min-height: 2.5em !important
}
#s-la-askform-section-3879 {background:none;border: none !important}
button#s-la-askform-submit-2861 {text-shadow:none;min-height:2.5em !important}
.s-la-widget legend {
  font-family: 'Quattrocento Sans',Candara,'Gill Sans',Optima,Helvetica,sans-serif;
  font-size: 28px !important;
  line-height:24px !important;
  font-weight:700;
  color: #333 !important;
  min-width: 450px;
  height: 1.5em !important; 
  border:none !important;
  margin:0 !important;
}
#s-la-askform-submit-2861 {
  background: #36404e !important; 
  /* background-color: rgb(170, 51, 51) !important; */
  border-color: #1859B7 !important;
  text-shadow: 0 1px 1px #001B38;
  color: #FFF;
  width: 7em !important;
  height: 2.5em !important;
  position: relative;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 2px 5px !important;
  margin: 0 !important;
  border-radius: 5px !important;
  font-family: 'Montserrat','Segoe UI','Century Gothic',Verdana,sans-serif
}
.s-la-widget .form-horizontal .control-label {
  text-align: left !important;
  display: block;
  clear: both;
  width: 100%;
  padding:0 !important;
  font-family:'Montserrat','Segoe UI','Century Gothic',Verdana,sans-serif;
  font-size:1rem;
  font-weight:500;
  line-height:1.5rem
}
.s-la-widget .form-horizontal .form-group {margin:0 0 1em 0 !important}
.s-la-widget .col-md-8 {padding:0 !important}
.reqnote {color:#cc0033}
#val7_2861 {
  -webkit-appearance:menulist !important;
  -moz-appearance: menulist !important;
  appearance: menulist !important
}