/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */



ul.menu li {list-style-type:none;list-style-image:none;}
ul.menu li a {color: #555555;text-decoration:none;padding-bottome:3px}
#region-top-right-menu li {display:inline;}
#region-top-right-menu .content {float:right;}
.top-header-divider {border-left: 1px solid #555555;padding: 0 0 0 10px;}




#SiteTitle {text-decoration:none;color:#FFF;font-size:2em;padding-left:1em;display:block;padding-top:5px;}
#region-sitename {background-color: #cc0033;height:40px;} /*original color black, red for example */
#region-sitename A {font-size:2em;}
#region-menu  {background-color: #cc0033;height:40px;border-right:20px solid #cc0033;} /* original color black, red for example */
#main-menu {float:right;padding-top:8px;}
.navigation li a        {font-weight:700;color: #FFF;text-decoration:none;font-size:1.2em;padding:7px;}
.navigation li a.active {font-weight:700;color: #FFF;}
.navigation li a:hover {font-weight:700;color: #000;background-color:#FFF;}



#footer_bottom_left {float: left;margin-left: 1em;padding-left: 1em;}
#footer_bottom_right {float: right;margin-right: 2em;text-align: right;}
#footer_bottom_center {text-align: center;}
#footer_bottom a {color: #333;text-decoration:none;padding-bottom:6px;}


.pager li.pager-next {position: relative;right:0;}
.pager li.pager-last, .pager li.pager-next.last {position: relative;right:0;}
.item-list .pager {width:35em;margin:auto;}

#region-branding  {border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;box-shadow: 3px 3px 3px 0 #cccccc, -3px 3px 3px 0 #cccccc;}
#region-content {border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;box-shadow: 3px 3px 3px 0 #cccccc, -3px 3px 3px 0 #cccccc;}


#projectDesc {display:block;float:left;padding-top:1em;}

#region-branding  {display:inline;}
#zone-header-menu {display:block;} /*changed from inline */
#region-top-menu {padding-left: 0em;}
.libhomelink {padding-left: 1em;}