/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.branding-data {background-image: url("/sites/default/files/seal.png");position:relative;background-repeat:no-repeat;background-position: right;}

#camdenPic {display:inline;}