#tContainer {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size:1em;
  padding:6px 0 1px; 
  line-height:1em;
  background-color:#f2f2f2;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}
#tContainer ul  {
  list-style-type:none;
  text-align:left;
  margin:0;
  padding:0;
}
#tContainer li  {
  display:inline; 
  margin: 3px 2px 0 0;
  padding: 3px 10px 4px;
  /*background-color:#ccc;*/
  border:1px solid #b3b3b3;
  border-bottom:none;
  cursor:pointer;
  position:relative; 
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  background: url("../images/absurdidad_dark3_mak.png");  
}
#tContainer li.picked {
  font-weight:700;
  border-top:2px solid #e31836;
  /*background-color:#FFF;*/
  color:#d20134;
  box-shadow: 2px -1px 2px -1px #999999;
  position:relative;
  z-index:1;
  background:url("../images/absurdidad_flat_mak.png") repeat scroll 0 0 transparent;
}
#tContainer li.art.picked {
  border-left: 1px solid #e6e6e6;
}
#tContainer li.cat.picked {padding:3px 11px 4px}
#tContainer li.jou.picked {padding:3px 10px 4px 11px}
#tContainer li.media.picked {padding:3px 8px 4px 9px}
#sContainer {
  width:538px;
  border:1px solid #e6e6e6; 
  height: 9.5em;
  position:relative;  
  /* downloaded from www.subtlepatterns.com */
  background:url("../images/absurdidad.png") repeat scroll 0 0 transparent;
  
  /*background-color:#FFF; 
  background: -webkit-linear-gradient(90deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 35%);
  background: -o-linear-gradient(90deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 100%);
  background: -ms-linear-gradient(90deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 100%);
  /*background: linear-gradient(180deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 100%);
  background: linear-gradient(180deg, #fff 65%, #ccc 100%) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
  */
}
.con  {
  margin:1.5em;
  display:none;
  /*background-color:#FFF;*/
  border:0px dotted #d6d6d6;
}
.input, .input[type="text"]{
  font-size:1em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.input.noFocus  {
  color:#999999;
  font-style:italic;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.input.straight {
  color:#000000;
  font-style:normal;
}
.content  {
  margin-bottom:10px;
  width:100%;
}
.content.cat  {
  margin-top:1em;
  font-weight:bold;
}
.content.art  {
  margin-top:1em;
  font-weight:bold;
}
.content.jou  {
  margin-top:1em;
  font-weight:bold;
}
.content.reserves {
  margin-top:1em;
  font-weight:bold;
}
.advanced {
  font-weight:normal;
  margin:0 14px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding-top: 1.2em;
}
.advanced a {   
  color: #09297A; 
}
.shiny  {
  font-weight:normal;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size:1em;
}
.shiny.reg  {
  font-size:12px;
  background:url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.shiny.large  {
  border-radius:5px;
  margin-left:14px;
  padding:2px 5px;
  
}
.shiny.small  {
  font-size:11px;
  background: url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.what {
  position:absolute;
  /*margin:2em 0 0 390px;*/
  margin: -46px 0 0 543px;
}
.what-text  {
  font-size:12px;
  font-weight:normal;
  text-decoration:underline;
  cursor:pointer;
}
.what-icon-q  {
  width:35px;
  height:35px;
  background-image:url(../images/searchtabs/questionmark.png);
  background-repeat:no-repeat;
  background-position:0px 0px;
  cursor:pointer;
}
.what.lower {
  margin-top:165px;
}
.what-content {
  text-align:left;
  font-size:1em;
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#ffffff;
  margin:0 0 0 -400px;
  padding:5px;
  display:none;
  z-index:10;
}
.what-content P {
  width:400px;
}
.what-icon-q {
  position: absolute; 
  /*margin: 80px 0 0 75px;*/
  margin:115px 0 0 -70px;
}
.what-content {
  margin: 45px 0 5px -512px;
}
.what-iris-content {
  margin: 65px 0 5px -512px;
}
.hint{
  text-align:left; 
  font-size:1em; 
  font-weight:normal;
  border:1px solid #c1c1c7; 
  position:absolute; 
  background-color:#f2f2f2; 
  padding:5px; 
  display:none;
  z-index:10; 
  margin: 10px 0 0 5px;
  white-space:nowrap;
}
.hint.books {margin-left: 80px;}
.hint.journals  {margin-left: 155px;}
.hint.media {margin-left:230px;}
.hint.reserves  {margin-left: 330px;}
.beta {
  /* yl 3-11-13
  position: absolute; 
  background-image:url(../images/searchtabs/beta_icon.jpg); 
  background-repeat:no-repeat; 
  background-position:0px 0px; 
  width: 40px; 
  height: 16px;
  margin:-23px 0 0 490px;
  */
}
.what-content P {
  width:430px;
}
#dbgroup, #srchfield1, #srchfield2, #mediasearch, #reserve-filter {
  width:356px;
  font-size:1em; /*14 px */
  line-height:1.5em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding:0;
  color:#4d4d4d;
}
.ru_restricted {
  font-weight:normal;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding-top: 1.2em;
}
.ru_restricted img {
  width:13px;
  height:13px;
  border:none;
  margin:2px;
}