/* styling for the mini-search tabs */
.region-mini-searchtabs-inner {
  padding-top:11px;
}
#tContainer {
  /*width:350px;*/
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size:11px;
  padding-top:5px; 
  line-height:16px;
}
#tContainer ul  {
  list-style-type:none;
  text-align:left;
  margin:0;
  padding:0;
}
#tContainer li  {
  display:inline; 
  margin:3px 0 0 0;
  padding: 3px 9px;
  background-color:#e6e6e6;
  border:1px solid #e6e6e6;
  border-bottom:none;
  cursor:pointer;
  position:relative; 
  border-top:2px solid #d3d3d3;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  color:#333;
}
#tContainer li.picked {
  font-weight:700;
  border-top:2px solid #e31836;
  background-color:#FFF;
  color:#d20134;  
}
#tContainer li.art.picked {border-left:1px solid #D3D3D3;}
#tContainer li.cat.picked {padding:3px 9px 3px 10px;}
#tContainer li.media.picked {padding:3px 9px 3px 8px;}
#sContainer {
  width:378px;
  border:1px solid #D3D3D3; 
  height:70px;
  background-color:#FFF; 
}

.con  {
  height:3.8em;
  margin: 10px 0;
  display:none;
  background-color:#FFF;
  border:0px dotted #d6d6d6;
}

.input, .input[type="text"] {
  font-size:11px;
  width:250px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.input.noFocus  {
  color:#999999;
  font-style:italic;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.input.straight {
  color:#000000;
  font-style:normal;
}

.content  {
  margin:0;
  width:100%;
}

.content.cat  {
  margin-top:0em;
  font-weight:bold;
}
.content.art  {
  margin-top:0em;
  font-weight:bold;
}
.content.jou  {
  margin-top:0em;
  font-weight:bold;
}
.content.reserves {
  margin-top:0em;
  font-weight:bold;
}
.advanced {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size:.75em;
  font-weight:normal;
  float:right;
}
.advanced a {   
  color: #4d4d4d;
  font-size:11px;
}
.art .advanced {
  margin: -26px 7px 0 0;
}
.cat .advanced {
  margin: -26px 31px 0 0;
}
.jou .advanced {
  margin: -26px 24px 0 0;
}
.media .advanced {
  margin: -26px 24px 0 0;
}
.shiny  {
  font-weight:normal;
  font-size:12px;
}
.shiny.reg  {
  font-size:12px;
  background:url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.shiny.large  {
  /*font-size:.87em;*/
  /*background: url(../images/searchtabs/shiny-bg.png) repeat-x;*/
  border-radius: 5px 5px 5px 5px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 11px;
  margin: 3px 61px 0 0;
  float: right;
  padding: 2px 5px;
}
.shiny.small  {
  font-size:11px;
  background: url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.what {
  position:absolute;
  margin:2em 0 0 390px;
}
.what-text  {
  font-size:12px;
  font-weight:normal;
  text-decoration:underline;
  cursor:pointer;
}
.what-icon-q  {
  width:35px;
  height:35px;
  background-image:url(../images/searchtabs/questionmark.png);
  background-repeat:no-repeat;
  background-position:0px 0px;
  cursor:pointer;
}
.what.lower {
  margin-top:165px;
}
.what-content {
  text-align:left;
  font-size:11px;
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#ffffff;
  margin:0 0 0 -400px;
  padding:5px;
  display:none;
  z-index:10;
}
.what-content P {
  width:400px;
}
.what-icon-q{display:none;}
.what-content{margin: 45px 0 5px -372px;}
.hint {
  text-align:left;
  font-size:12px;
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#f2f2f2;
  padding:5px;
  display:none;
  z-index:10;
  margin: 10px 0 0 5px;
}
.hint.books {margin-left: 60px;}
.hint.journals  {margin-left: 115px;}
.hint.media {margin-left:75px;}
.hint.reserves  {margin-left: 225px;}
.what-content P {width:330px;}
#dbgroup, #srchfield1, #srchfield2, #mediasearch, #reserve-filter {
  font-size:11px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding:0;
  color:#4d4d4d;
  width:250px;
}