/*This file contains styling for the front page (home) */
td {border:none;padding:0}
table {
  font-family:cambria, georgia, serif;
  border-collapse:collapse;
}
p {margin-bottom:0}
#zone-content {
  min-height: 478px;
}
.block {margin-bottom:1.5em;}
.content {margin-bottom:0;}
/** Styling for block titles (h2.block-title) and headlines.  
  * Overrides global h2 and h3 styling.
**/
h2.block-title {
  font-size:1.2em;       /* 14px --> 14 ÷ 14 = 1 */
  line-height:1.5em;   /* 21px --> 21 ÷ 14 = 1.5 */
  color:#555;
  margin-left:0.5em;
}
h3 {
  margin:0;
  padding:0.5em .5em 0.5em 0.5em;
  border-top:1px solid #ccc;
  background-color:#f2f2f2;
  font-family: "Cambria",Georgia,Serif;
  font-weight:400;
  font-size:1.071428571428571em;  /* 15px --> 15 ÷ 14 = 1.071428571428571 */
  line-height:1.5em;              /* 22.5px --> 22.5 ÷ 15 = 1.5 */
}
/** Link styling 
  * All links on front page are colored black with no decoration (underlines) and 
  * change color upon hover
**/
a:link, a:visited {
  text-decoration:none;
  color:#000;
}
a:hover {
  color:#0062A0;
}
/** News and Events styling & positioning **/
.panel-2col .panel-col-first {
  width:150px;
  margin:0.5em 0;
}
.panel-2col .panel-col-first .inside {
  margin:0;
}
.panel-2col .panel-col-last {
  width:380px;
  margin-left:0.5em /* spacing between News and Events feature pic and feature text; removed the float to be able to control more directly */
}
.panel-2col .panel-col-last .inside {
  margin:0.5em 0;
}
img.news_li {
  padding-bottom:3px;
}
/* Styling of the news links below the feature story */
.view-id-news .item-list ul li {
  border-top:1px dashed #cccccc;
  margin:0;
  padding: 0.5em 0; /* There is a 1px space for a total of 15px in between each li because each li has a 1px dashed border. */
  /*list-style-image:url('../images/arrow2.png');*/
}
.view-id-news .item-list .views-row-last  {
  border-bottom:1px dashed #cccccc;
}
.field-content a {
  font-family:"Cambria",Georgia, Serif;
}
/* styling of the feature story "more" link */
.feature-more-link {
  float: right;
  padding: 0px 17px;
  text-align: right;
  color:#333333;
  font-family:"Lucidia Console",Monaco,monospace !important;
  font-variant:small-caps;
  font-size: 0.857em;
  line-height: 1.75em;
  background:url("../images/arrow2.png") no-repeat;
  background-position:right center;  
}
/* Styling of the "more" link */
.more-link {
  float: right;
  margin-top: -10px;
  padding: 0px 20px;
  text-align: left;
  background:url("../images/arrow2.png") no-repeat;
  background-position:right center;  
}
.more-link a {
  /*color:#333333;*/
  font-family:"Lucidia Console",Monaco,monospace;
  font-variant:small-caps;
  font-size: 0.857em;
  line-height: 1.75em;
  margin-right: 3px;
}
/** Special Collections block styling **/
#scua_img {
  float:left;
  width:270px;
  margin:0.5em 0;
}
#scua_img_caption {
  width:258px;
  padding:0.5em;
  background-color:#f2f2f2;
  color: #666666;
  font-family: "Cambria",Georgia,Serif;
  font-style: italic;
  float:left;
  font-size: 0.857em; 
  line-height: 1.75em;
}
#scua_teaser {
  float: left;
  margin:0.5em;
  width: 250px;
}
/** Right hand column blocks styling and positioning**/
#block-block-6 .content,
#block-block-7 .content,
#block-block-8 .content {
  font-family:Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  border:1px solid #e6e6e6;
  padding:.5em;
  width:auto;
}
/** Spotlight title styling **/
#block-views-spotlight-block-1 h2.block-title,
#block-views-spotlight-block-2 h2.block-title {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding:0em 0.5em 0.1em;
  margin:0;
}
#block-views-spotlight-block-1 .content,
#block-views-spotlight-block-2 .content {
  margin-top:0;
  background-color:#f2f2f2; /* If only 1 spotlight, then fill the gap between the caption and more link */
}
#block-views-spotlight-block-2 .content {background:none;}
/** Spotlight (slideshow controls) block styling **/
#views_slideshow_controls_text_previous_spotlight-block_1 a,
#views_slideshow_controls_text_next_spotlight-block_1 a {
  background: url(../images/clearpix.gif);
  height: 200px;
  width: 50px;
  position:absolute;
  top: 30px;
  z-index: 10;
  white-space:nowrap;
  text-indent: -9999px;
  text-transform: uppercase;
}
#views_slideshow_controls_text_previous_spotlight-block_2 a,
#views_slideshow_controls_text_next_spotlight-block_2 a {
  background: url(../images/clearpix.gif);
  height: 200px;
  width: 50px;
  position:absolute;
  top: 475px;
  z-index: 10;
  white-space:nowrap;
  text-indent: -9999px;
  text-transform: uppercase;
}
#views_slideshow_controls_text_previous_spotlight-block_1 a,
#views_slideshow_controls_text_previous_spotlight-block_2 a {
  background: url(../images/arrow-prev.png) no-repeat 0px 50%;
}
#views_slideshow_controls_text_next_spotlight-block_1 a,
#views_slideshow_controls_text_next_spotlight-block_2 a  {
  background: url(../images/arrow-next.png) no-repeat 100% 50%;
}
#views_slideshow_controls_text_previous_spotlight-block_1,
#views_slideshow_controls_text_previous_spotlight-block_2 {
  float: left;
  width: auto;
}
#views_slideshow_controls_text_next_spotlight-block_1,
#views_slideshow_controls_text_next_spotlight-block_2 {
  float: left;
  width: auto;
  margin-left: 330px;
}
#views_slideshow_controls_text_pause_spotlight-block_1,
#views_slideshow_controls_text_pause_spotlight-block_2 {
  display:none;
}
/** Spotlight caption styling **/
.views-field-field-spotlight-caption,
.views-field-field-library-spotlight-caption {
  height:3em;
  width:368px;
  font-style:italic;
  color:#666666;
  background-color:#f2f2f2;
  float:left;
  font-size: 0.857em; 
  line-height: 1.75em;
  padding:0.5em;
}
.views-field-field-library-spotlight-caption {
  width:280px;
}
.views-field-field-spotlight-link {
  width:45px;
  height:20px;
  background-color:#f2f2f2;
  color:#333333;
  float:right;
  font-size: 0.857em; 
  line-height: 1.75em;
  padding:0.5em;
}
.views-field-field-spotlight-link a {
  color:#333333;
  font-family:"Lucidia Console",Monaco,monospace;
  font-variant:small-caps;
}
.views-slideshow-cycle-main-frame-row {
  background-color:#f2f2f2;
}
/** RUCore block styling **/
#block-block-8 .content {
  padding:0;
}
#rucore_col1{
  float: left;
  padding: 0 0.5em;
  width: 56%;
}
#rucore_col1 a {
  /*font-family: "Cambria",Georgia,Serif;*/
}
#rucore_col1 p {
  margin:0;
}
#rucore_col1 ul {
  margin:0;
}
#rucore_col1 ul  li {
  list-style: none outside none;
  border-bottom: 1px dashed #CCCCCC;
  list-style: none outside none;
  padding: 0.5em 0;
}
#rucore_col1 .last{
  border:none;
}
#rucore_col2 {
  float:right;
}
.rucore_caption {
  color: #666666;
  font-family: "Cambria",Georgia,Serif;
  font-style: italic;
  font-size: 0.857em; 
  line-height: 1.75em;
  padding:0.5em;
  background-color: #F2F2F2;
  float:left;
  width: 366px;
}
.rucore_caption a {color: #666666;}
.rucore_caption a:hover {color:#0062A0;}

#rucore_pic_caption {
  background-color:#f2f2f2;
  color: #666666;
  font-family: "Cambria",Georgia,Serif;
  font-style: italic;
  font-size: 0.857em; 
  line-height: 1.75em;
  padding:0.5em;
}

/**Ask A Librarian block styling **/
#aal_col1 {
  border-right: 1px dashed #cccccc;
  float:left;
  margin:0;
  width:250px;
}
#aal_col1 ul {
  margin:0;
}
#aal_col1 ul li {
  list-style: none outside none;
}
.aal_right {
  float:right;
  padding-right: 10px;
}
#aal_col2 { 
  width:25%;
  padding-left:0.5em;
  float:left;
}
#aal_col2 a {
  font-family: "Cambria",Georgia,Serif;
}
#aal_bottom {
  padding-top:0.5em;
  float:left;
}
/** "Information For..." block styling & positioning **/
#info_col1 {
  float: left;
  padding-right: 0.5em;
  width: 25%;
}
#info_col2 {
  border-left: 1px dashed #CCCCCC;
  border-right: 1px dashed #CCCCCC;
  float: left;
  padding: 0 0.5em;
  width:25%;
}
#info_col3 {
  float:left;
  padding-left:0.5em;
}
#info_col1 a, #info_col2 a {
  font-family: "Cambria",Georgia,Serif;
}
/**Individual library home page styling**/
#block-views-library-center-block-1 {
  margin-bottom:1.5em;
}
/* "Welcome to the <library>" styling */
.views-row-1 .views-field-name h2 {
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 0 0.5em 0.1em;
}
/* library address & phone info*/
.views-field-field-google-maps-link {
  background-color: #F2F2F2;
  padding:0.5em;
}
/* art block: "News Worth Notes" */
.block-nodeblock h2 {
  border-bottom:1px solid #ccc;
  padding-left:0.5em;
  margin-left:0;
}
.block-nodeblock h3 {
  font-weight:700;
}
#block-nodeblock-2335 table {
  margin-bottom:0;
}
#block-nodeblock-2335 table p{
  margin-left:0.5em;
}

#block-nodeblock-2335 ul {
  padding:0;
  margin-bottom:0;
}
#block-nodeblock-2335 li {
  border-top: 1px dashed #CCCCCC;
  margin: 0;
  padding: 0.5em 0;
  list-style:none;
}
#block-nodeblock-2335 li.first {
  border:none;
}