/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
html {overflow-y: scroll;}
body {
  font-family:"Cambria",Georgia,Serif;
  font-size:87.5%;    /* 14px --> 14 ÷ 15 = 0.875*/
  line-height:1.5em;  /* 21px --> 21 ÷ 14 = 1.5 */
  margin:0;
  padding:0;
  background-color: #F2F2F2;

}
#region-content {
  min-height:478px;
}
#page {
  background-color:#f2f2f2;
}
.zone {
  background-color:#fff;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  box-shadow: 3px 3px 3px 0 #CCCCCC,
              -3px 3px 3px 0 #CCCCCC;
}
#zone-footer {
  border-bottom: 1px solid #CCCCCC;
  /*box-shadow: 3px 3px 3px 0 #CCCCCC, 
              -3px 3px 3px 0 #CCCCCC;*/
}
a:link, a:visited {
  color:#1859B7;
  text-decoration:none;
}
/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing:0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
	margin: 0;
	font-size: 1.5714285714285714em;    /* 22px --> 22 ÷ 14 = 1.5714285714285714 */
	line-height: 0.9545454545454546em;  /* 21px --> 21 ÷ 22 = 0.9545454545454546 */
	margin-bottom: 0.9545454545454546em;
  color:#555;
}

h2 {
	margin: 0;
	font-size: 1.4285714285714286em;  /* 20px --> 20 ÷ 14 = 1.4285714285714286 */
	line-height: 1.05em;              /* 21px --> 21 ÷ 20 = 1.05 */
	margin-bottom: 1.05em;
}

h3 {
	margin: 0;
	font-size: 1.2857142857142858em;    /* 18px --> 18 ÷ 14 = 1.2857142857142858 */
	line-height: 1.1666666666666667em;  /* 21px --> 21 ÷ 18 = 1.1666666666666667 */
	margin-bottom: 1.1666666666666667em;
}

h4 {
	margin: 0;
	font-size: 1.1428571428571428em;  /* 16px --> 16 ÷ 14 = 1.1428571428571428 */
	line-height: 1.3125em;            /* 21px --> 21 ÷ 16 = 1.3125 */
	margin-bottom: 1.3125em;
}

h5, h6 {
  font-size: 1em;       /* 14px --> 14 ÷ 14 = 1 */
  line-height: 1.5em;   /* 21px --> 21 ÷ 14 = 1.5 */
}
p, ul, blockquote, pre, td, th, label {
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
p.small {
	margin: 0;
	font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
	line-height: 1.75em;              /* 21px --> 21 ÷ 12 = 1.75 */
	margin-bottom: 1.75em;
}
table {
	border-collapse: collapse;
	margin-bottom: 1.5em;
}
/* megamenu nav bar */
#main-menu {  
  display:block;
  padding-bottom:1px; /*yl 1-8-13: added padding-bottom for anchor padding on the menus when they open */
  padding-top:3px;
}
#main-menu li  {
  padding:0;
  margin:0;
}
@-moz-document url-prefix() {
  /*yl 3-6-13: padding bottom specific for FF;*/
  #main-menu {
    padding-bottom:2px;
  }
  /*prevent menu bar from wrapping in FF when zooming */
  #main-menu li {
    white-space:nowrap;
  }
}
#main-menu li A {
  color:#FFF;
  background-color:#D21034;
  padding:4px 25px; /* yl 1-7-13: original values: 4px 12px (padding top, right, bottom, & top); max out space for 8 column grid */
  border-right:1px solid #FFF;
  text-decoration:none;
  margin-top:0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-weight:700;
}
/* yl 1-10-13: styling for rounded corners */
#main-menu .first A {
  padding:4px 26px;
  border-top-left-radius:7px;
  border-bottom-left-radius:7px;
} 
/* yl 1-7-13: styling for last menu item; no borders and rounded right corners */
#main-menu .last A {
  border:none;
  border-top-right-radius:7px;
  border-bottom-right-radius:7px;
}
/*IE8 spacing */
#main-menu {padding-bottom:2px \9;}
/*IE9 spacing*/
:root #main-menu .last A {padding:4px 21px \0/IE9; }
.mmAhover {
  background-color:#E6E6E6 !important; /* yl 1-8-13: added the !important */
  color:#4D4D4D !important;
}
.qtip-hover {
  background-color:#CCCCCC;
  color:#d20134;
}
.firstUnround {border-bottom-left-radius:0px !important;}
.panelUpperLeftUnround{border-top-left-radius:0px  !important;}
.lastUnround {border-bottom-right-radius:0px !important;}
.panelUpperRightUnround{border-top-right-radius:0px  !important;}
//.activer {  background-color:blue;  color:yellow;}
/* megamenu panels */
div.qtip-light{border-color:#555!important;border-style:solid; border-width:0px 1px 1px 1px; !important;}
div.qtip-content{
  color:#B3B3B3;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border:1px solid #E6E6E6;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  -webkit-border-top-right-radius:7px; 
  -webkit-border-top-left-radius:7px;
  padding:0 !important;
  background-color:#E6E6E6 !important;
}

.mmLeftContentWrapper {}
.mmLeftContentLeft {}
.mmLeftContentRight {}


.panel-3col-33 .panel-col-first .inside {margin:0 0 0 0 !important;width: 33.3% !important;}
.panel-3col-33 .panel-col .inside       {margin:0 0 0 0 !important;width: 33.3% !important;}
.panel-3col-33 .panel-col-last          {                          width: 33.3% !important;}
.panel-3col-33 .panel-col-last .inside  {margin:0 0 0 0 !important;}

.mmHeading      {color:#4D4D4D;width:168px;border-bottom:1px solid #808080; margin:21px 13px 0 13px;font-weight:700;padding-bottom:2px;}
.mmHeadingEmpty {width:168px;border-bottom:0px solid #B3B3B3; margin:0px 13px 0 13px;font-weight:700;padding-bottom:0px;}
.mmHeadingLink  {color:#326ABC;margin-bottom:0em;}
.mmHeadingLink A         {color:#326ABC;}
.mmHeadingLink A:link    {color:#326ABC;}
.mmHeadingLink A:visited {color:#326ABC;}

.mmHeadingLinkBottom {margin-bottom:.5em;display:inline;}
.mmHeadingLinkBottom A {color:#326ABC;}
.mmHeadingLinkBottom A:link {color:#326ABC;}
.mmHeadingLinkBottom A:visited {color:#326ABC;}
.mmHeadingLinkBottom A:hover {color:#FFF;background-color:#326ABC;}

.mmContentUL {list-style-type:none;line-height:1.75em;margin:0px 13px 24px 13px;width: 168px;}
.mmContentUL LI {border-bottom:1px dotted #B3B3B3;}
.mmContentUL LI A {color:#326ABC;}
.mmContentUL LI A:hover {color:#FFF;background-color:#326ABC;}


/* styles for landing pages */
DL.mmenusPages  {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  border: 0px;
}
DL.mmenusPages DT {
  position: relative;
  left: 0px;
  top: 1.2em;
  width: 13em;
  border: 0;
  font-size:1.2em;
}
DL.mmenusPages DD {
  font-size:1em;
  margin: 0px 0px 0px 22em;
  padding: 0;
  border: 0;
  font-style:normal;
}
div.mmenusPages {
  display:table;
  margin-bottom:1.5em;
  width:100%;
}
div.mmenusPages .left {
  display:table-cell;
  vertical-align:middle;
  clear:left;
  width:30%;
  font-size:1.2em;
  padding-left:.5em;
}
div.mmenusPages .right {
  display:table-cell;
  vertical-align:middle;
  clear:right;
}
div.mmenusPages .odd {
  display:table-row;
  vertical-align:middle;
  background-color:#f2f2f2;
  height:4em;
  padding:1.5em 0;
}
div.mmenusPages .even {
  display:table-row;
  vertical-align:middle;
  background-color:#fff;
  height:4em;
  padding:1.5em 0;
}
/* yl 12/5/12 - styling for the right menu links (Hours, My Account, Accessibility (icon)) */
#region-right-menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}
#region-right-menu .content {
  margin:0;
  width:auto;
  padding-top: 4px;
}
#region-right-menu .content a {
  color: #4D4D4D;
  text-decoration:none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#region-right-menu .content a:hover {
  color:#0062A0;
}
.region-right-menu-inner {

} 
/* yl 12/7/12 - styling for AAL slideout window */     
.slide-out-div {
  font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  font-family:"Cambria",Georgia,Serif;
  padding: 20px;
  width: 500px;
  background: #fff;
  border: 1px solid #29216d;
  z-index: 9999;
}
/**Ask A Librarian block styling - active when chat is inactive, should match front page AAL block**/
.slide-out-div #aal_col1 {
  border-right: 1px dashed #cccccc;
  float:left;
  margin:0;
  width:250px;
}
.slide-out-div #aal_col1 ul {
  margin:0;
}
.slide-out-div #aal_col1 ul li {
  list-style: none outside none;
}
.slide-out-div #aal_col1 .aal_right {
  float:right;
  padding-right: 10px;
}
.slide-out-div #aal_col2 { 
  width:25%;
  padding-left:0.5em;
  float:left;
  line-height:1.5em;
}
.slide-out-div #aal_col2 a {
  font-family: "Cambria",Georgia,Serif;
}
.slide-out-div #aal_bottom {
  padding-top:0.5em;
  float:left;
}
.chat_on {
  background:url("/sites/default/themes/RUL_D7/images/chat_graywithborders.png") no-repeat scroll 0 0 transparent;
  width:90px;
  height:74px;
  left:-90px !important; 
}
.chat_off {
  background:url("/sites/default/themes/RUL_D7/images/chat_graywithborders.png") no-repeat scroll 0 0 transparent;
  width:90px;
  height:74px;
  left:-90px !important; 
}
/* yl 2-1-13 - styling for the secondary main menu (site search box, my account, hours, accessibility) region*/
#block-search-form, #block-block-23 {
  float:left;
  position: relative;
}
#block-menu-menu-secondary-main-menu {
  float:right;
  margin-right:0.5em;
}
#edit-search-block-form--2 {
  width:100px;
}
/* yl 2-1-13 - styling the site search box */
#search-block-form .form-text, #block-block-23 .form-text {
  color:#666666;
  font-style:italic;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size:1em;
  width:100px;
}
#block-menu-menu-secondary-main-menu  ul.menu li{
  margin:0 0 0 1em;
}
.form-actions input, .cse_button {
  margin:0;
  border-radius:5px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size:1em;
  font-weight:400;
  padding:2px 5px;
}
.breadcrumb {
  padding-bottom: 1.5em;
}
.breadcrumb .inline {
  margin:0 0.5em;
}
.breadcrumb .first {
  margin:0 0.5em 0 0;
}
.breadcrumb .last {
  margin:0 0 0 0.5em;
}
.breadcrumb .first.last {
  margin:0;
}

/* general styles  */
DIV.indent-5  {margin-left:5px;}
DIV.indent-25 {margin-left:25px;}
P.hang     {text-indent:-3em;margin-left:3em;}
.alert     {color:#D60400;font-weight:700;}
.ruleTop   {width:98%;float:left;clear:left;}
.backToTop {margin-top:-15px;float:left;margin:-11px;}   


/* for medical campus page*/
A:hover.campus{color:#CC0000;}
A:active.campus{color:#CC0000;}

/* yl 2-19-13 - override the % settings from feedback simple module (feedback tab) so we can use px instead
#feedback_simple a{
  top: 325px !important;
}*/

/* yl 2-21-13 - table styling */
table {
  border:none;
  width:100%;
  border-collapse:separate;
  border-spacing:2px 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/* yl 2-22-13 - styling for the label that appears above the column headers */
thead tr th.thead_label {
  background-color:#aaa;
  text-align:left;
  color:#fff;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight:700;
}
/* yl 2-22-13 - styling for links that might be in the thead_label */
thead tr th.thead_label a:link, 
thead tr th.thead_label a:visited {
  color:#fff;
}
thead tr th.thead_label a:hover {
  color:#1859B7;
}
thead th, th {
  text-align:center;
  background:none repeat scroll 0 0 #E6E6E6;
  border-top:1px solid #e6e6e6;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight:700;
}
thead {
  height:2.5em;
  border-top:1px solid #e6e6e6;
  background:#e6e6e6;
}
th.active {
  background: none repeat scroll 0 0 #edf1f7;
  border-left:none;
  border-right:none;
}

/* yl 2-22-13 - positioning for the sorting graphic, if a column is sortable */
th a img {
  margin: 0 0 4px 5px;
}
td.active {
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}
/* yl 2-22-13 - active is the color of the column when it is selected (sorted on) */
td.odd td.active {
  background-color: none repeat scroll 0 0 #edf1f7;
}
td.even td.active {
  background-color: none repeat scroll 0 0 #edf1f7;
}
td {
  border-left: 1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}
.gsc-results-wrapper-nooverlay.gsc-results-wrapper-visible td,
.gsc-control-searchbox-only.gsc-control-searchbox-only-en td {
  border:none;
}
tr.even {
  background-color: #fff;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
tr.even td {
  background-color:#fff;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
}
tr.odd {
  background-color: #f2f2f2;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
tr.odd td {
  background-color:#f2f2f2;
}
/* changed background to get rid of hover color */
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
  background:none;
} 
tr.even td.active {
  background-color:#edf1f7;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
}
/* yl 2-22-13 - styling specific for the alpha_dir page*/
.view-display-id-page_1 tr.even:hover td.active {
  background-color:#edf1f7;
}
.view-display-id-page_1 tr.odd:hover td.active {
  background-color:#f2f2f2;
}
th.views-field-field-last-name-1 {
  width:20%;
}
/* yl 2-22-13 - styling specific for the dept_dir page*/
.dept_dir_address{
  margin-bottom:1.5em;
}


/* styling specific for the tab page menus */
.tabPage {width:900px;}
.tabPageCol {width:33.3%; float:left;}
.tabPageCol UL LI  {line-height: 1.75em; list-style-type: none;}

/* yl 2-28-13 - styling for the footer */
#zone-footer {
  background:#e6e6e6;
  font-family:Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  font-size:0.8571em;
  color:#333;
  box-shadow: inset 0px 3px 3px 0 #CCC, 3px 3px 3px 0 #CCC, -3px 3px 3px 0 #CCC;
}
#zone-footer .block {
  margin:0;
}
#zone-footer a:hover {
  color:#0062A0;
}
#footer_col1 {
  width:225px;
  float:left;
  padding:1.5em 10px 1.5em 0;
  min-height:5.5em;
}
#footer_col1 a {
  color:#4d4d4d;
}
#footer_col2 {
  width:195px;
  float:left;
  border-left:1px dashed #ccc;
  padding:1.5em 20px;
  min-height:5.5em;
}
.col2_left {
  float:left;
  clear:left;
}
.col2_right {
  float:right;
}
#footer_col3 {
  width:215px;
  float:left;
  border-left:1px dashed #ccc;
  padding:1.2em 10px;
  min-height:5.5em;
  text-align:center;
}
#facebook {
float:left;
padding: 20px 0 20px 75px;
}
#twitter {
float:left;
padding: 20px 5px;
}
#footer_col4 {
  width:220px;
  float:left;
  border-left:1px dashed #ccc;
  padding:1.5em 0 1.5em 10px;  
  min-height:5.5em;  
}
#cic {
  float: left;
  padding: 10px;
}
#us_dep{
  float:left;
  padding: 10px 0;
}
#vale_icon {
  float:left;
  padding: 15px 5px;
}
#footer_bottom {
  clear:both;
  background:#d6d6d6;
  margin:0 -10px
}
#footer_bottom a {
  color:#333;
}
#footer_bottom_left {
  margin-left:10px;
  float:left;
}
#footer_bottom_right {
  float:right;
  text-align:right;
  margin-right:10px;
}
/*mak3--3.13 */
#footer_bottom_center {
	text-align:center;	
}
/* yl 3-1-13 - styling for the alert message */
#alert_message {
  border-radius:5px;
  border:2px solid #d20134;
  padding:10px;
  background:#E8E6E2;
  color:#1859b7;
}
iframe[name="googleSearchFrame"] {
  height: 1075px;
}