/* Styling specific to the database descriptions only */
div.db_desc_left {
  clear: both;
  width: 18%;
  float: left;
  text-align: right;
}
div.db_desc_right {
  width: 80%;
  float: right;
}
div.connect_gif {
  float: left;
  padding: 0 2%;
}