#tContainer {
  /*background-color:#ededed;*/
  background:none;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  /*font-size:1.083333333333333em; /*13px = 13 ÷ 12 = 1.083333333333333*/
  /*font-size:0.9285714285714286em;      /* 13px --> 13 ÷ 14 = 0.9285714285714286 */
  font-size:1em;     /* 13px --> 13 ÷ 13 = 1 */
  line-height:1.076923076923077em;   /* 14px --> 14 ÷ 13 = 1.076923076923077 */
  padding:6px 0px 1px;
  /* width:932px; */
  margin-top:4px;
  /*border:1px solid #cccccc;
  border-bottom:none;*/
  border:none;
/*   white-space: nowrap; */
  height:1.47em;
}
#tContainer ul  {
  list-style-type:none;
  text-align:left;
  margin:0;
  padding:0;
}
#tContainer li  {
  /*background: url("../images/absurdidad_dark3_mak.png"); */
  background-color:#EDEDED;
  border:1px solid #b3b3b3;
  border-bottom:none;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  cursor:pointer;
  display:inline;
  margin: 3px 3px 0 0;
  padding: 3px 10px;
  position:relative;
}
#tContainer li.picked {
  /*background:url("../images/absurdidad_dark4_mak1.png") repeat scroll 0 0 transparent;*/
  /*background: url("../images/pattern2.png") repeat scroll 0 0 #ffffff;*/
  background: url("../images/absurdidad_may13.png") repeat scroll 0 0 transparent;
  /*background-color:#FFF;*/
  border-top:2px solid #e31836;
  border-left:1px solid #e31836;
  border-right:1px solid #e31836;
  box-shadow: 2px -1px 2px -1px #999999;
  color:#D20134;
  font-weight:700;
  position:relative;
  z-index:1;
}
#tContainer li.art {margin-left:0px;}
#tContainer li.art.picked {border-left: 1px solid #e31836; padding:3px 10px 4px;}
#tContainer li.cat.picked {padding:3px 10px 4px}
#tContainer li.jou.picked {padding:3px 10px 4px}
#tContainer li.media.picked {padding:3px 9px 4px}
#tContainer li.reserves.picked {padding:3px 9px 4px}
#tContainer li.health {/* margin-left:128px; */margin-right:0px;}
#tContainer li.health.picked {padding:3px 10px 4px 11px;box-shadow:none;/* margin-left:132px; */}
@-moz-document url-prefix() {
  #tContainer li.art.picked,
  #tContainer li.cat.picked,
  #tContainer li.jou.picked  {padding:3px 10px 4px;}
  #tContainer li.media.picked,
  #tContainer li.reserves.picked {padding:3px 9px 4px}
}
#sContainer {
  /*width:940px;*/
  /*border:1px solid #cccccc;
  border-top:none;*/
  border:none;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  /*height: 9.5em;*/
  position:relative;
  z-index:0;
  /*background-color:#ededed;*/
  background:none;
  /* downloaded from www.subtlepatterns.com */
  /*background:url("../images/absurdidad.png") repeat scroll 0 0 transparent;*/
  /*background-color:#FFF;
  background: -webkit-linear-gradient(90deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 35%);
  background: -o-linear-gradient(90deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 100%);
  background: -ms-linear-gradient(90deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 100%);
  /*background: linear-gradient(180deg, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 100%);
  background: linear-gradient(180deg, #fff 65%, #ccc 100%) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
  */
}
.con  {
  /*background: url("../images/absurdidad_dark4_mak1.png") repeat scroll 0 0 #ffffff;*/
  background: url("../images/absurdidad_may13.png") repeat scroll 0 0 #ffffff;
  /*background: url("../images/pattern2.png") repeat scroll 0 0 #ffffff;*/
  border:1px solid #E31836;
  border-radius:5px;
  display:none;
  height:113px;
  /*margin:0 0 5px 0;*/
  padding:1.5em;
  position:relative;
  /* width:599px; */
  z-index:10;
}
.con.art {
  border-top-left-radius:0;
}
.con.health {
  border-top-right-radius: 0;
  font-size: 1.07692em;
  font-weight: 700;
  height: 117px;
  padding-top: 1em;
}
.con.health a {font-size:1em; font-weight:400;color:#0032C6 !important}
.input, .input[type="text"]{
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1 */
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}
.input.noFocus  {
  color:#999999;
  font-style:italic;
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}
.input.straight {
  color:#000000;
  font-style:normal;
}
.content  {
  margin-bottom:10px;
  width:100%;
}
.content.cat  {
  margin-top:1em;
  font-weight:bold;
}
.content.art  {
  margin-top:1em;
  font-weight:bold;
}
.content.jou  {
  margin-top:1em;
  font-weight:bold;
}
.content.media {
  margin-top:1em;
  font-weight:bold;
}
.content.reserves {
  margin-top:1em;
  font-weight:bold;
}
.advanced {
  font-weight:normal;
  margin:0 14px;
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  padding-top: 1.2em;
}
.advanced a {
  /*color: #09297A;*/
  color:#0032C6 !important;
  padding:2px 3px;
  font-weight:700;
  font-size:1.076923em; /*14 px*/
  text-shadow:2px 2px #FFFFFF;
}
.shiny  {
  font-weight:normal;
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1 */
}
.shiny.reg  {
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  background:url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.shiny.large  {
  border-radius:5px;
  margin-left:14px;
  padding:2px 5px;
  font-weight:normal;   
  font-family: 'Droid Sans', sans-serif;
  font-size:1.076923076923077em;
}
.shiny.small  {
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667 */
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857 */
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
  background: url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.what {
  position:absolute;
  /*margin:2em 0 0 390px;*/
  margin: -46px 0 0 543px;
}
.what-home  {
  position:absolute;
  margin:20px 0 0 625px;
}
.what-text  {
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  font-weight:normal;
  text-decoration:underline;
  cursor:pointer;
}
.what-icon-q  {
  width:35px;
  height:35px;
  background-image:url("../images/question_mark_arrow.png");
  background-position:-10px -10px;
  cursor:pointer;
}
.what.lower {
  margin-top:165px;
}
.what-content {
  text-align:left;
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1 */
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#ffffff;
  /* margin:0 0 0 -400px; */
  margin:25px 0 0 -510px;
  padding:5px;
  display:none;
  z-index:10;
}
.what-content P {
  width:400px;
}
.what-content a {
 color:#0032c6 !important;
}
.what-icon-q {
  position: absolute;
  /*margin: 80px 0 0 75px;*/
  margin:48px 0 0 -70px;
}
.what-content-front {
  margin: -25px 0 5px -512px;
}
.hint{
  text-align:left;
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1 */
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#f2f2f2;
  padding:5px;
  display:none;
  z-index:1000;
  margin: 10px 0 0 5px;
  white-space:nowrap;
}
.hint.art     {margin-left:40px;}
.hint.books   {margin-left:80px;}
.hint.journals{margin-left:155px;}
.hint.media   {margin-left:230px;}
.hint.reserves{margin-left:330px;}
.beta {
  /* yl 3/11/13
  position: absolute;
  background-image:url(../images/searchtabs/beta_icon.jpg);
  background-repeat:no-repeat;
  background-position:0px 0px;
  width: 40px;
  height: 16px;
  margin:-23px 0 0 490px;
  */
}
.what-content P {
  width:430px;
}
#dbgroup, #srchfield1, #srchfield2, #mediasearch, #reserve-filter {
  width:356px;
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1 */
  line-height:1.5em;
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  padding:0;
  color:#4d4d4d;
}
