/*This file contains styling for the front page (home) */

td {border:none;padding:0}
table {
  /*font-family:cambria, georgia, serif;*/
  font-family: 'Droid Serif', serif;
  border-collapse:collapse;
}
/*p {margin-bottom:0}*/
#zone-content {
  min-height: 478px;
  padding-top:0;
}
.block {margin-bottom:1.5em;}
.content {margin-bottom:0;}
/** Styling for block titles (h2.block-title) and headlines.
  * Overrides global h2 and h3 styling.
*/
h2.block-title {
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1.076923076923077 */
  /*line-height:1.5em;  /* 21px --> 21 ÷ 14 = 1.5
  /*
  color:#555;
  margin-left:0.5em;

    color:#555;
    background-color: #ededed;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;/
    border:1px solid #cccccc;
    margin: 0;
    padding: 0.2em 0.4em;
}*/
}
#block-block-18 h2.block-title {
  border:none;
  padding: 5px 0.5em 2px;
  background:none;
  color:#000;
}
#block-block-18 h2.block-title img{
    margin-top: -6px;
    position: relative;
    vertical-align: top;
    z-index: 1;
}
h3 {
  margin:0;
  padding:0.5em .5em 0.5em 0.5em;
  border-top:1px solid #ccc;
  background-color:#f2f2f2;
  /*font-family: "Cambria",Georgia,Serif;*/
  font-family: 'Droid Serif', serif;
  font-weight:400;
  /*font-size:1.25em;   /* 15px --> 15 ÷ 12 = 1.25*/
  /*font-size:1.071428571428571em;   /* 15px --> 15 ÷ 14 = 1.071428571428571 */
  font-size:1.153846153846154em;   /* 15px --> 15 ÷ 13 = 1.153846153846154 */
  line-height:1.5em;  /* 22.5px --> 22.5 ÷ 15 = 1.5 */
}
/** Link styling
  * All links on front page are colored black with no decoration (underlines) and
  * change color upon hover
**/
a:link, a:visited {
  text-decoration:none;
  color:#000;
}
a:hover {
  color:#0062A0;
}
/** News and Events styling & positioning **/
.panel-2col .panel-col-first {
  width:200px;
  margin:0.5em 0;
}
.panel-2col .panel-col-first .inside {
  margin:0;
}
.panel-2col .panel-col-last {
  width:433px;
  margin-left:0.5em /* spacing between News and Events feature pic and feature text; removed the float to be able to control more directly */
}
.panel-2col .panel-col-last .inside {
  margin:0.5em 0;
}
img.news_li {
  padding-bottom:3px;
}
.view-id-alternate_front_page_news .view-content .item-list {
  /*float:right;
  position:relative;
  width:75%;
  margin-top:-120px;
  */
}
.views-field-field-feature-image img {
  /*width:150px;
  height:100px;*/
}
/* Styling of the news links below the feature story */
.view-id-alternate_front_page_news .item-list ul {
  margin-bottom:0;
}
.view-id-alternate_front_page_news .item-list ul li {
  border-top:1px dashed #cccccc;
  margin:0;
  padding: 0.5em 0; /* There is a 1px space for a total of 15px in between each li because each li has a 1px dashed border. */
  /*list-style-image:url('../images/arrow2.png');*/
}
.view-id-alternate_front_page_news .item-list .views-row-last  {
  border-bottom:1px dashed #cccccc;
}
.field-content a {
  /*font-family:calibri/*"Cambria",Georgia, Serif*/;
  font-family: 'Droid Sans', sans-serif;
}
.views-field-field-feature-teaser-alternate .field-content a  {
  font-weight:700;
}
.teaser_title {
  display:block;
  margin-bottom:-16px;
  font-weight:700;
}
/* styling of the feature story "more" link */
.feature-more-link {
  float: right;
  padding: 2px 17px;
  text-align: right;
  color:#333333;
  font-weight:400 !important;
  font-family:"Lucidia Console",Monaco,monospace !important;
  font-variant:small-caps;
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.5em;  /*18px = 18 ÷ 12 = 1.5*/
  background-image:url("../images/question_mark_arrow.png");
  background-position:43px -52.5px;
  background-repeat:no-repeat;
}
/** Special Collections block styling **/
#scua_img {
  float:left;
  width:280px;
  margin:0.5em 0;
}
#scua_img img {

}
#scua_img_caption {
  width:268px;
  padding:0.5em;
  background-color:#f2f2f2;
  color: #666666;
  /* font-family: "Cambria",Georgia,Serif;*/
  font-family: 'Droid Sans', serif;
  font-style: italic;
  float:left;
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.5em;  /*18px = 18 ÷ 12 = 1.5*/
}
#scua_teaser {
  float: left;
  margin:0.5em;
  width: 346px;
}
/** Right hand column blocks styling and positioning**/
#block-block-18 .content,
#block-block-19 .content,
#block-block-20 .content {
  /*font-family:Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  border:1px solid #cccccc;
  border-top:none;
  padding:.5em;
  width:auto;
}
#block-block-18 {
  height:182px;
  margin-top: 2px;
}
#block-block-18 .content {
  height: 165px;
  margin: 0 0 5px;
  position:relative;
  z-index:10;
  border:none;
  padding:0 0 0.5em;
}
/** Spotlight title styling **/
/*#block-views-f21dc1f3ab601cd011ccdabfb933d785 h2.block-title {
  /*background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding:0em 0.5em 0.1em;
  margin:0;
}*/
#block-views-f21dc1f3ab601cd011ccdabfb933d785 .content {
  margin-top:0;
  background-color:#f2f2f2; /* If only 1 spotlight, then fill the gap between the caption and more link */
}
/** Spotlight (slideshow controls) block styling **/
#views_slideshow_controls_text_previous_alternate_front_page_spotlight-block_1 a,
#views_slideshow_controls_text_next_alternate_front_page_spotlight-block_1 a {
  background: url(../images/clearpix.gif);
  height: 186px;
  width: 50px;
  position:absolute;
  /*top: 615px;*/
  top:707px;
  z-index: 10;
  white-space:nowrap;
  text-indent: -9999px;
  text-transform: uppercase;
}
#views_slideshow_controls_text_previous_alternate_front_page_spotlight-block_1 a {
  /*background: url(../images/arrow-prev.png) no-repeat 0px 50%;*/
  background-image:url("../images/slideshow_controls.png");
  background-position:-10px 68px;
  background-repeat:no-repeat;
}
#views_slideshow_controls_text_next_alternate_front_page_spotlight-block_1 a  {
  /*background: url(../images/arrow-next.png) no-repeat 100% 50%;*/
  background-image:url("../images/slideshow_controls.png");
  background-position:-60px 68px;
  background-repeat:no-repeat;
}
#views_slideshow_controls_text_previous_alternate_front_page_spotlight-block_1 {
  float: left;
  width: auto;
}
#views_slideshow_controls_text_next_alternate_front_page_spotlight-block_1 {
  float: left;
  width: auto;
  margin-left: 230px;
}
#views_slideshow_controls_text_pause_alternate_front_page_spotlight-block_1 {
  display:none;
}
/** Spotlight caption styling **/
.views-field-field-spotlight-caption-100 {
  height:3em;
  /*width:368px;*/
  font-style:italic;
  color:#666666;
  background-color:#f2f2f2;
  float:left;
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.5em;  /*18px = 18 ÷ 12 = 1.5*/
  padding:0.5em;
}
.views-field-field-spotlight-link {
  width:45px;
  height:20px;
  background-color:#f2f2f2;
  color:#333333;
  float:right;
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.5em;  /*18px = 18 ÷ 12 = 1.5*/
  padding:0.5em;
}
.views-field-field-spotlight-link a {
  color:#333333;
  font-family:"Lucidia Console",Monaco,monospace;
  font-variant:small-caps;
}
.views-slideshow-cycle-main-frame-row {
  background-color:#f2f2f2;
}
/** RUCore block styling **/
#block-block-19 .content {
  padding:0;
}
#rucore_col1{
  /*float: right;*/
  clear:both;
  padding: 0 0.5em;
  /*width: 58%;*/
}
#rucore_col1 a {
  /*font-family: "Cambria",Georgia,Serif;*/
}
#rucore_col1 p {
  margin:0;
}
#rucore_col1 ul {
  margin:0;
}
#rucore_col1 ul  li {
  list-style: none outside none;
  border-bottom: 1px dashed #CCCCCC;
  list-style: none outside none;
  padding: 0.5em 0;
}
#rucore_col1 .last{
  border:none;
}
#rucore_col2 {
  float:left;
}
#rucore_col2 img {
  float:left;
  width:100px;
  height:100px;
  margin-left: -0.5em;
  margin-right: 0.5em;
  margin-top: -0.5em;
}
.rucore_caption {
  /*color: #666666;*/
  /*font-family: calibri;*/
  font-family: 'Droid Sans', sans-serif;
  /*font-style: italic;*/
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  font-size:0.9em;
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  /*font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.384615384615385em;  /*18px = 18 ÷ 13 = 1.384615384615385*/
  padding:0.5em;
  /*background-color: #F2F2F2;*/
  float:left;
  /*width:164px;*/
}
.rucore_caption a {/*color: #666666;*/}
.rucore_caption a:hover {color:#0062A0;}

#rucore_pic_caption {
  background-color:#f2f2f2;
  color: #666666;
  /*font-family: "Cambria",Georgia,Serif;*/
  font-family: 'Droid Serif', serif;
  font-style: italic;
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.5em;  /*18px = 18 ÷ 12 = 1.5*/
  padding:0.5em;
}

/**Ask A Librarian block styling **/
#block-block-18 #aal-container {
  background: none repeat scroll 0 0 #FFFFFF;
  /*border: 1px solid #E6E6E6;*/
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  height: 151px;
  width: 280px;
  margin-top:-25px;
}
#block-block-18 #aal-container.nochat {
  margin:0;
}
#block-block-18 #aal_icons {
  float: left;
  margin: 0 10px;
}
#block-block-18 #aal_phone_icon {margin-top:15px}
#block-block-18 #aal_email_icon { }
#block-block-18 #aal_chat_icon {margin-top:-3px;}
#block-block-18 #aal_col1 {
  /*border-right: 1px dashed #cccccc;*/
  float: right;
  margin: 5px 0;
  width: 199px;
}
#block-block-18 #aal_col1 ul {
  margin:0;
}
#block-block-18 #aal_col1 ul li {
  list-style: none outside none;
}
#block-block-18 #aal_phone ul, #block-block-18 #aal_chat_off {
  line-height:1.2em;
}
#block-block-18 #aal_email {
  margin:15px 0
}
#block-block-18 .aal_right {
  float:right;
  padding-right: 10px;
}
#block-block-18 #aal_col2 {
  width:25%;
  padding-left:0.5em;
  float:left;
}
#block-block-18 #aal_col2 a {
  /*font-family: "Cambria",Georgia,Serif;*/
}
#block-block-18 #aal_bottom {
  padding-top:0.5em;
  float:left;
}
#block-block-18 #aal_header_links {
  float:right;
}
#block-block-18 #aal_header_links a {
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  font-weight:400;
}
/** "Information For..." block styling & positioning **/
#info_col1 {
  float: left;
  padding-right: 0.5em;
  width: 35%;
}
#info_col2 {
  border-left: 1px dashed #CCCCCC;
  /*border-right: 1px dashed #CCCCCC;*/
  float: left;
  padding: 0 0.5em;
  width:55%;
}
#info_col3 {
  float:left;
  padding-left:0.5em;
}
#info_col1 a, #info_col2 a {
  /*font-family: "Cambria",Georgia,Serif;*/
}
/*full width aal block*/
#aal_full_tabs {
  margin-top: 0.5em;
  /*font-family:Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  font-weight:700;
}
#aal_full_tabs ul {
  list-style-type:none;
  padding:0;
  margin:0;
}
#aal_full_tabs li {
  display:inline;
  padding:0.2em 0.5em;
}
#aal_full_phone {
  border:1px solid #ccc;
  border-bottom:none;
  background:#e6e6e6;
  color:#555;
}
#aal_full_email {
  border:1px solid #ccc;
  border-bottom:none;
  margin-left:150px;
  background:#1859B7;
  color:#fff;
}
#aal_full_chat {
  border:1px solid #ccc;
  border-bottom:none;
  background:#e6e6e6;
  margin-left:183px;
  padding-right:50px;
  color:#555;
}
#aal_full {
  border: 1px solid #CCCCCC;
  min-height: 4em;
  /*font-family:Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}
#aal_left {
  width:461px;
  float:left;
  border-right:1px solid #CCCCCC;
}
#aal_left_a {
  width:180px;
  float:left;
  padding:0.5em 0 0.5em 0.5em;
}
#aal_left_b, #aal_left_c {
  width:137px;
  float:left;
  padding:0.5em 0;
}
#aal_right {
  float:left;
  width:476px;
}
#aal_right_a {
  padding:0.5em 0 0.5em 0.5em;
  width:165px;
  float:left;
}
#aal_live {
  font-weight:700;
  color:#1859B7;
}
#aal_right_b {
  padding:0.5em;
  width:290px;
  float:left;
  line-height:1em;
}
.aal_chat_on {
  color:#ccc;
}
.aal_chat_off {
  background:#ccc;
}
#aal_right_b_a {
  float:left;
  width:25%;
}
#aal_right_b_b {
  float:left;
  width:35%;
}
#aal_right_b_c {
  float:left;
  width:35%;
}