/* This file will hold styles for the mobile version of your website (mobile first). */
/*
The body copy font size for the website is set at 13px. Therefore 1 em for the site becomes 13px. The line height for 13 px font size, at 1.5 em is 19.5 px. This is the 'magic number' for computing vertical rhythm throughout the site. 19.5px becomes line height and margin bottom for all HTML elements.
Headers are 22 px, 20 px, 18 px, 16 px, and 14 px.
Auto-generators would spit out code that identifies h1 at 20px, but we made a design decision to make the largest header, h1, 22px. This was done because we wanted the headlines and titles of pages to look bigger than they do at 20px. If we want to go a notch smaller, h2 is automatically available at a font size of 20px. This allows for more flexibility.

http://coding.smashingmagazine.com/2011/03/14/technical-web-typography-guidelines-and-techniques/#tt-grid
http://topfunky.com/baseline-rhythm-calculator/  (we have generated header code using different defaults. however this is a good reference.
http://pxtoem.com/
*/

/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
.container-12,
.container-16 {
  margin-left: auto !important;
  margin-right: auto !important;
}
html {
  overflow-y:scroll;
  overflow-x:visible !important;
}
body {
  /*font-family:calibri/*"Cambria",Georgia,Serif;*/
  font-family: 'Droid Sans', sans-serif;
  font-size:81.25%;      /* 13px --> 13 ÷ 16 = 0.8125*/
  line-height:1.5em; /* 19.5px --> 19.5 ÷ 13 = 1.5 */
  /*font-size:75%;      /* 12px --> 12 ÷ 16 = 0.75*/
  /*line-height:1.5em;  /* 18px --> 18 ÷ 12 = 1.5 */
  /*font-size:87.5%;    /* 14px --> 14 ÷ 16 = 0.875*/
  /*line-height:1.5em;  /* 21px --> 21 ÷ 14 = 1.5 */
  margin:0;
  padding:0;
  background-color: #F2F2F2;
}
#region-content {
  min-height:478px;
}
#zone-content {
  padding-top:7px;
  padding-bottom:20px;
}
#page {
  background-color:#f2f2f2;
}
.zone {
  background-color:#fff;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  box-shadow: 3px 3px 3px 0 #CCCCCC,
              -3px 3px 3px 0 #CCCCCC;
}
#zone-header-menu {
  background:none;
  border:none;
  box-shadow:none;
}
#zone-branding {
/*  background: url("/sites/default/themes/RUL_D7/images/banner_border_09.png");
    height: 128px;
*/
/*  background: url("/sites/default/themes/RUL_D7/images/althomepage1_03.png");
    height:129px;
*/
  background: url("/sites/default/themes/RUL_D7/images/crispgray_03.png");
  height:129px;
  background-position:bottom;
  background-repeat:repeat-x;
  background-color:#fff;

}
#zone-menu-wrapper {

}
#zone-menu {
  /*background: linear-gradient(#E3112B, #D20134) repeat-x scroll center top transparent;*/
  background:#000;
  color:#fff;
  height:33px;
}
#zone-footer {
  border-bottom: 1px solid #CCCCCC;
  /*box-shadow: 3px 3px 3px 0 #CCCCCC,
              -3px 3px 3px 0 #CCCCCC;*/
}
a:link, a:visited {
  /*color:#1859B7;*/
  color:#0032C6;
  text-decoration:none;
}
/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing:0;
  /*font-family: 'Droid Serif', serif/*cambria/*Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif*/
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color:#333333;
}

h1 {
  margin: 0;
  font-size:1.538461538461538em;        /* 20px --> 20 ÷ 13 = 1.538461538461538 */
  /*font-size: 1.692307692307692em;     /* 22px --> 22 ÷ 13 = 1.692307692307692 */
  /*font-size: 1.833333333333333em;     /* 22px --> 22 ÷ 12 = 1.833333333333333 */
  /*font-size: 1.571428571428571em;     /* 22px --> 22 ÷ 14 = 1.571428571428571 */
  /*line-height: 0.8181818181818182em;  /* 18px --> 18 ÷ 22 = 0.9545454545454546 */
  /*line-height: 0.9545454545454546em;  /* 21px --> 21 ÷ 22 = 0.9545454545454546 */
  line-height:0.975em;                  /* 19.5px --> 19.5 ÷ 20 = 0.975 */
  /*line-height:0.8863636363636364em;     /* 19.5px --> 19.5 ÷ 22 = 0.9545454545454546 */
  margin-bottom:0.975em; /*match line-height*/
}

h2 {
  margin: 0;
  font-size: 1.384615384615385em;       /* 18px --> 18 ÷ 13 = 1.384615384615385 */
  /*font-size: 1.538461538461538em;     /* 20px --> 20 ÷ 13 = 1.538461538461538 */
  /*font-size: 1.666666666666667em;     /* 20px --> 20 ÷ 12 = 1.666666666666667 */
  /*font-size: 1.428571428571429em;     /* 20px --> 20 ÷ 14 = 1.428571428571429 */
  /*line-height: 0.9em;               /* 18px --> 18 ÷ 20 = 0.9 */
  /*line-height: 1.05em;              /* 21px --> 21 ÷ 20 = 1.05 */
  /*line-height:0.975em;                /* 19.5px --> 19.5 ÷ 20 = 0.975 */
  line-height: 1.083333333333333em;  /* 19.5px --> 19.5 ÷ 18 = 1.083333333333333 */
  margin-bottom:1.083333333333333em;  /*match line-height*/
}


/* h2.block-title   copied from front.css 5/17/2013 SMCD */
h2.block-title {
  /*font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1.076923076923077 */
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  font-size:1em;      /* 13px --> 13 ÷ 13 = 1 */
  /*line-height:1.285714285714286em;  /* 18px --> 18 ÷ 14 = 1.285714285714286 */
  /*line-height:1.5em;  /* 21px --> 21 ÷ 14 = 1.5 */
  line-height:1.392857142857143em;  /* 19.5px --> 19.5 ÷ 14 = 1.392857142857143 */
  /*
  color:#555;
  margin-left:0.5em;
  */
  color:#555;
  background-color: #ededed;
  /*border-top-left-radius: 5px;
  border-top-right-radius: 5px;*/
  border:1px solid #cccccc;
  margin: 0;
  padding: 0.2em 0.4em;
}

h3 {
  margin: 0;
  font-size: 1.230769230769231em;  /* 16px --> 16 ÷ 13 = 1.230769230769231 */
  /*font-size: 1.5em;                   /* 18px --> 18 ÷ 12 = 1.5 */
  /*font-size: 1.285714285714286em;     /* 18px --> 18 ÷ 14 = 1.285714285714286 */
  /*font-size: 1.384615384615385em;     /* 18px --> 18 ÷ 13 = 1.384615384615385 */
  /*line-height: 1em;  /* 18px --> 18 ÷ 18 = 1 */
  /*line-height: 1.1666666666666667em;  /* 21px --> 21 ÷ 18 = 1.1666666666666667 */
  /*line-height: 1.083333333333333em;  /* 19.5px --> 19.5 ÷ 18 = 1.083333333333333 */
  line-height: 1.21875em;           /* 19.5px --> 19.5 ÷ 16 = 1.21875 */
  margin-bottom: 1.21875em; /*match line-height*/
}

h4 {
  margin: 0;
  /*font-size: 1.333333333333333em;  /* 16px --> 16 ÷ 12 = 1.333333333333333 */
  /*font-size: 1.142857142857143em;  /* 16px --> 16 ÷ 14 = 1.142857142857143 */
  /*font-size: 1.230769230769231em;  /* 16px --> 16 ÷ 13 = 1.230769230769231 */
  font-size: 1.076923076923077em;     /* 14px --> 14 ÷ 13 = 1.076923076923077 */
  /*line-height: 1.125em;           /* 18px --> 18 ÷ 16 = 1.125 */
  /*line-height: 1.3125em;           /* 21px --> 21 ÷ 16 = 1.3125 */
  /*line-height: 1.21875em;           /* 19.5px --> 19.5 ÷ 16 = 1.21875 */
  line-height: 1.392857142857143em; /* 19.5px --> 19.5 ÷ 14 = 1.392857142857143 */
  margin-bottom: 1.392857142857143em; /*match line-height*/
}

h5, h6 {
  /*font-size: 1.166666666666667em; /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size: 1em;     /* 14px --> 14 ÷ 14 = 1 */
  /*font-size: 1.076923076923077em;     /* 14px --> 14 ÷ 13 = 1.076923076923077 */
  font-size:0.9230769230769231em;     /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  /*line-height: 1.285714285714286em; /* 18px --> 18 ÷ 14 = 1.285714285714286 */
  /*line-height: 1.5em; /* 21px --> 21 ÷ 14 = 1.5 */
  /*line-height: 1.392857142857143em; /* 19.5px --> 19.5 ÷ 14 = 1.392857142857143 */
  line-height:1.625em; /* 19.5px --> 19.5 ÷ 12 = 1.625 */
}
p, ul, blockquote, pre, td, th, label {
  margin: 0;
  font-size:1em;     /* 13px --> 13 ÷ 13 = 1 */
  line-height: 1.5em;   /* 19.5px --> 19.5 ÷ 13 = 1.5 */
  margin-bottom: 1em;
}
p.small {
  margin: 0;
  /*font-size: 1em;     /* 12px --> 12 ÷ 12 = 1 */
  /*font-size: 0.8571428571428571em;  /* 12px --> 12 ÷ 14 = 0.8571428571428571 */
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.5em;  /* 18px --> 18 ÷ 12 = 1.5 */
  margin-bottom: 1.5em;
}
sup {font-size:.8em;height:0;line-height:1;vertical-align:baseline;_vertical-align: bottom;position: relative;bottom: 1ex;}
table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}
ul li {
  list-style-image:url("../images/featherbullet_small.png");
}
.view-display-id-page_1 .view-content div.item-list li {
  list-style-image:url("../images/featherbullet_small.png");
}
hr {
  background:#CCCCCC;
  clear:both;
}
/* megamenu nav bar */
#region-menu {
  padding:3px 0 0;
  margin-right:0;
  height:30px;
  /*background-color:#e3112b;
  background: url("/sites/default/themes/RUL_D7/images/fold1_02.png");
  background-position: right;
  background-repeat: no-repeat;
  */
}
/* styling for the mega menus (left links in the red bar), add div ids to this section for new menus added; yl 9/18/13 */
#main-menu,
#block-system-main-menu,
#block-menu-menu-main-menu-robeson- {
  display:block;
  padding-bottom:1px; /*yl 1-8-13: added padding-bottom for anchor padding on the menus when they open */
  padding-top:5px;
  margin-bottom:0;
}
ul#main-menu,
#block-system-main-menu ul,
#block-menu-menu-main-menu-robeson- ul{
  white-space:nowrap;
}
#main-menu li,
#block-system-main-menu li,
#block-menu-menu-main-menu-robeson- li{
  padding:0;
  margin:0 -3px 0 0;
  /*border-right:1px solid #FFF;*/
  white-space:nowrap;
  display: inline;
}
#main-menu .last,
#block-system-main-menu .last,
#block-menu-menu-main-menu-robeson- .last{
  border:none;
}
@-moz-document url-prefix() {
  /*yl 3-6-13: padding bottom specific for FF;*/
  #main-menu,
  #block-system-main-menu,
  #block-menu-menu-main-menu-robeson- {
    padding-bottom:2px;
  }
  /*prevent menu bar from wrapping in FF when zooming */
  #main-menu li,
  #block-system-main-menu li,
  #block-menu-menu-main-menu-robeson- li {
    white-space:nowrap;
  }
}
#main-menu li A,
#block-system-main-menu li A,
#block-menu-menu-main-menu-robeson- li A {
  color:#FFF;
  background-color:transparent; /*#e3112b;*/
  padding:8px 25px; /* yl 1-7-13: original values: 4px 12px (padding top, right, bottom, & top); max out space for 8 column grid */
  text-decoration:none;
  margin-top:0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-size:14px;  /* 14px --> 14 ÷ 13 = 1.0769230769230769230769230769231 */
  font-weight:700;
  text-shadow: 1px 1px #330000;
  background: url("/sites/default/themes/RUL_D7/images/navbar_teeny.png") repeat-y scroll 0 0 transparent;
}
/* yl 1-10-13: styling for rounded corners */
#main-menu .first A,
#block-system-main-menu .first A,
#block-menu-menu-main-menu-robeson- .first A {
  border:none;
  background:none;
  /*border-top-left-radius:7px;
  border-bottom-left-radius:7px;*/
}
/* yl 1-7-13: styling for last menu item; no borders and rounded right corners */
#main-menu .last A,
#block-system-main-menu .last A,
#block-menu-menu-main-menu-robeson- .last A {
  border:none;
  padding:8px 21px 8px 25px;
  /*border-top-right-radius:7px;
  border-bottom-right-radius:7px;*/
}
#main-menu li .last,
#block-system-main-menu li .last,
#block-menu-menu-main-menu-robeson- .last {
  border:none;
}
/*IE8 spacing */
/*#main-menu {padding-bottom:2px \9;}*/
/*IE9 spacing*/
:root #main-menu .last A, #block-system-main-menu .last A, #block-menu-menu-main-menu-robeson- .last A {padding:10px 22px \0/IE9; }
:root .lastUnround {padding-right:22px \0/IE9 !important; }
#main-menu li A.mmAhover,
#block-system-main-menu li A.mmAhover,
#block-menu-menu-main-menu-robeson- li A.mmAhover {
  background-image:none !important;
}
/* styling tweaks for ipads; yl 8/28/13 */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .qtip { width: 628px !important; }
  #region-right-menu { background:none; }
  #main-menu li A,#block-system-main-menu li A,#block-menu-menu-main-menu-robeson- li A { padding:8px 20px; }
  .mmAhover { padding-right:20px !important;padding-left:20px !important; }
  .last .mmAhover { padding-right:20px !important;padding-left:20px !important; }
}
.mmAhover {
  background-color:#E6E6E6 !important; /* yl 1-8-13: added the !important */
  color:#4D4D4D !important;
  border:1px solid #999 !important;
  border-bottom:none !important; /*1px solid #e6e6e6 !important;*/
  position:relative !important;
  z-index: 9999 !important;
  padding-bottom:5px !important;
  padding-right:24px !important;
  padding-left:24px !important;
  text-shadow:none !important;
}
.last .mmAhover {
  padding-right:22px !important;
  padding-left:22px !important;
}
@-moz-document url-prefix() {
  .mmAhover {padding-bottom:6px !important;}
}
.qtip-hover {
  background-color:#CCCCCC;
  color:#d20134;
}
.firstUnround {
  border-radius:0 !important;
}
.panelUpperLeftUnround{border-top-left-radius:0px  !important;}
.lastUnround {
  /*border-radius:0 !important; */
  padding-right:28px !important;
}
.panelUpperRightUnround{border-top-right-radius:0px  !important;}
//.activer {  background-color:blue;  color:yellow;}
/* megamenu panels */
div.qtip-light{
  border-color:#999 !important;
  border-style:solid;
  border-width:1px 1px 1px 1px !important;
}
div.qtip-content{
  color:#B3B3B3;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border:1px solid #E6E6E6;
  /*
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  -webkit-border-top-right-radius:7px;
  -webkit-border-top-left-radius:7px;
  */
  padding:0 !important;
  background-color:#E6E6E6 !important;
}

.mmLeftContentWrapper {}
.mmLeftContentLeft {}
.mmLeftContentRight {}


.panel-3col-33 .panel-col-first .inside {margin:0 0 0 0 !important;width: 33.3% !important;}
.panel-3col-33 .panel-col .inside       {margin:0 0 0 0 !important;width: 33.3% !important;}
.panel-3col-33 .panel-col-last          {                          width: 33.3% !important;}
.panel-3col-33 .panel-col-last .inside  {margin:0 0 0 0 !important;}

.mmHeading      {color:#4D4D4D;width:168px;border-bottom:1px solid #808080; margin:21px 13px 0 13px;font-weight:700;padding-bottom:2px;}
.mmHeadingEmpty {width:168px;border-bottom:0px solid #B3B3B3; margin:0px 13px 0 13px;font-weight:700;padding-bottom:0px;}
.mmHeadingLink  {color:#326ABC;margin-bottom:0em;}
.mmHeadingLink A         {color:#326ABC;}
.mmHeadingLink A:link    {color:#326ABC;}
.mmHeadingLink A:visited {color:#326ABC;}

.mmHeadingLinkBottom {margin-bottom:.5em;display:inline;}
.mmHeadingLinkBottom A {color:#326ABC;}
.mmHeadingLinkBottom A:link {color:#326ABC;}
.mmHeadingLinkBottom A:visited {color:#326ABC;}
.mmHeadingLinkBottom A:hover {color:#FFF;background-color:#326ABC;}

.mmContentUL {list-style-type:none;line-height:1.75em;margin:0px 13px 24px 13px;width: 168px;}
.mmContentUL LI {list-style-image:none;}
.mmContentUL LI {border-bottom:1px dotted #B3B3B3;}
.mmContentUL LI A {color:#326ABC;}
.mmContentUL LI A:hover {color:#FFF;background-color:#326ABC;}


/* styles for landing pages */
DL.mmenusPages  {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  border: 0px;
}
DL.mmenusPages DT {
  position: relative;
  left: 0px;
  top: 1.2em;
  width: 13em;
  border: 0;
  font-size:1.2em;
}
DL.mmenusPages DD {
  font-size:1em;
  margin: 0px 0px 0px 22em;
  padding: 0;
  border: 0;
  font-style:normal;
}
div.mmenusPages {
  display:table;
  margin-bottom:1.5em;
  width:100%;
}
div.mmenusPages .left {
  display:table-cell;
  vertical-align:middle;
  clear:left;
  width:30%;
  /*font-size:1.416666666666667em;  /* 17px --> 17 ÷ 12 = 1.416666666666667 */
  /*font-size:1.214285714285714em;  /* 17px --> 17 ÷ 14 = 1.214285714285714 */
  font-size:1.307692307692308em;  /* 17px --> 17 ÷ 13 = 1.307692307692308 */
  padding-left:.5em;
}
div.mmenusPages .right {
  display:table-cell;
  vertical-align:middle;
  clear:right;
}
div.mmenusPages .odd {
  display:table-row;
  vertical-align:middle;
  background-color:#f2f2f2;
  height:4em;
  padding:1.5em 0;
}
div.mmenusPages .even {
  display:table-row;
  vertical-align:middle;
  background-color:#fff;
  height:4em;
  padding:1.5em 0;
}
/* yl 12/5/12 - styling for the right menu links (Hours, My Account, Accessibility (icon)) */
#region-right-menu {
  /*background:url("/sites/default/themes/RUL_D7/images/althomepage1_02.png") repeat-x;*/
  background:url("/sites/default/themes/RUL_D7/images/navbar_teeny.png") repeat-y scroll 0 0 transparent;
  padding: 2px 15px 0 0;
  margin:0;
  height:31px;
}
#region-right-menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}
#region-right-menu .content {
  margin:0;
  width:auto;
  /*padding-top: 4px;*/
}
#region-right-menu .content a {
  color: #fff;
  text-decoration:none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667 */
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857 */
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
}
#region-right-menu .content a:hover {
  /*color:#0062A0;*/
  /*color:#555;*/
  color:#000000;
}
.region-right-menu-inner {

}
/* yl 12/7/12 - styling for AAL slideout window */
.slide-out-div {
  /*font-size:1.166666666666667em;  /* 14px --> 14 ÷ 12 = 1.166666666666667 */
  /*font-size:1em;  /* 14px --> 14 ÷ 14 = 1 */
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1 */
  /*font-family:'Droid Serif', serif;/*"Cambria",Georgia,Serif;*/
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  /*width: 500px;*/
  background: #fff;
  border: 0px solid #29216d;
  z-index: 9999;
  /*height:201px !important;*/
}
.slide-out-div #popout {
  top:-9px !important;
}
/**Ask A Librarian block styling - active when chat is inactive, should match front page AAL block**/
.slide-out-div #aal-container {
  height:201px;
  width:300px;
  background:url("/sites/default/themes/RUL_D7/images/chat7_rounded_withtopred_extension_bottom1_06.png") repeat-x;
  background-position:bottom;
}
.slide-out-div #nochat_top {
  background:url("/sites/default/themes/RUL_D7/images/chat7_rounded_withtopred_extension_withshadow1_02.png") repeat-x;
  clear:both;
  width:100%;
  height:51px;
  margin-top:-9px;
}
.slide-out-div #aal_col1 {
  /*border-right: 1px dashed #cccccc;*/
  float:left;
  margin:0;
  padding:10px;
  width:250px;
}
.slide-out-div #aal_col1 ul {
  margin:0;
}
.slide-out-div #aal_col1 ul li {
  list-style: none outside none;
}
.slide-out-div #aal_col1 .aal_right {
  float:right;
  padding-right: 10px;
}
.slide-out-div #aal_phone ul {
  line-height:1em;
}
.slide-out-div #aal_email {
  padding:12px 0 22px;
}
.slide-out-div #aal_col2 {
  width:25%;
  padding-left:0.5em;
  float:left;
  line-height:1.5em;
}
.slide-out-div #aal_col2 a {
  /*font-family: 'Droid Serif', serif;/*"Cambria",Georgia,Serif;*/
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.slide-out-div #aal_bottom {
  padding-top:0.5em;
  float:left;
}
.chat_on {
  background:url("/sites/default/themes/RUL_D7/images/final_chattab.png") no-repeat scroll 0 0 transparent;
  width:72px;
  height:202px;
  left:-67px !important;
}
.chat_off {
  background:url("/sites/default/themes/RUL_D7/images/final_chattab.png") no-repeat scroll 0 0 transparent;
  width:72px;
  height:202px;
  left:-67px !important;
}
/* yl 2-1-13 - styling for the secondary main menu (site search box, my account, hours, accessibility) region*/
#block-search-form, #block-block-23, #block-block-26 {
  float: left;
  margin: 0;
  /* padding-left: 155px; */
  padding-left:200px;
  padding-top: 4px;
  position: relative;
}

#block-block-26 {
  /*padding-left:80px;*/
}

#block-menu-menu-secondary-main-menu, #block-menu-menu-alternate-sub-page-secondar {
  float:right;
  margin:0;
  padding-top:3px;
  white-space: nowrap;
}
#edit-search-block-form--2 {
  width:100px;
}
/* yl 2-1-13 - styling the site search box */
#search-block-form .form-text, #block-block-23 .form-text, #block-block-26 .form-text{
  color:#666666;
  font-style:italic;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667*/
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857*/
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
  width:100px;
}
#block-menu-menu-secondary-main-menu  ul.menu li{
  margin:0 0 0 1em;
}
#block-menu-menu-secondary-main-menu  ul.menu li.leaf{
  margin-left:12px;
}
#block-menu-menu-alternate-sub-page-secondar li {
  margin-left:15px;
}
.form-actions input, .cse_button {
  margin:0;
  border-radius:5px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667*/
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857*/
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
  font-weight:400;
  padding:2px 5px;
}
#block-block-26 .form-actions input {
  padding:0;
  border-radius:0;
  margin-left: -20px;
}
#block-block-26 .form-actions input:hover {
  background:none;
}
.breadcrumb {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  padding-bottom: 1.5em;
  color:#999999;
}
.breadcrumb .inline {
  margin:0 0.5em;
}
.breadcrumb .first {
  margin:0 0.5em 0 0;
}
.breadcrumb .last {
  margin:0 0 0 0.5em;
}
.breadcrumb .first.last {
  margin:0;
}

/* general styles  */
DIV.indent-5  {margin-left:5px;}
DIV.indent-25 {margin-left:25px;}
P.hang     {text-indent:-3em;margin-left:3em;}
.alert     {color:#D60400;font-weight:700;}
.ruleTop   {width:98%;float:left;clear:left;}
.backToTop {margin-top:-15px;float:left;margin:-11px;}


/* descriptive blocks are the floating set of blocks as on the _main_ researchers page */
div.descriptive-block            {width:218px;height:220px;margin-left:10px;margin-right:10px;border:1px solid #CCC;float:left;position:relative;}
div.descriptive-block  h2        {border:0px;border-bottom:1px solid #CCC;}
div.descriptive-block div.logo   {padding:10px;float:right;}
div.descriptive-block-text       {width:210px;padding:.5em;}
div.descriptive-block-more       {position:absolute;top:200px;width:220px;}
div.descriptive-block-more DIV.more-link {padding:0 30px 0 20px;}
div.descriptive-block-leftmost   {margin-left:0px;}
div.descriptive-block-rightmost  {margin-right:0px}
div.descriptive-block-top-row    {margin-top:0;}
div.descriptive-block-bottom-row {margin-top:1.5em;margin-bottom:1.5em;}
h2.researchers-h2                {/*height:3em;*/}

/* right column for pages that don't have custom template for right columns */
DIV.descriptive-page-right-col                           {width:300px;float:right;margin-left:20px;}

DIV.descriptive-page-right-box-nav                       {width:298px;margin-left:.5em;border-left:1px solid #FFF;}
DIV.descriptive-page-right-box-nav H2.plain              {background-color:transparent;border:0;padding-left:0;}
DIV.descriptive-page-right-box-nav-content               {border:0px solid #CCC;border-top:none;padding:.5em .5em .5em 0;}
DIV.descriptive-page-right-box-nav-content UL            {margin-left:-1.2em;margin-bottom:0;}
DIV.descriptive-page-right-box-nav-content UL LI         {border-bottom:1px dashed #CCCCCC;list-style:none outside none;padding:2px 0}
DIV.descriptive-page-right-box-nav-content UL LI.current {font-weight:700;}
DIV.descriptive-page-right-box-nav-content UL LI.last    {border-bottom:none;}

DIV.descriptive-page-right-box                           {width:300px;margin-top:.75em;margin-bottom:.75em;}
DIV.descriptive-page-right-box-content                   {border:1px solid #e8e8e8;border-top:none;padding:.5em;}
DIV.descriptive-page-right-box-content  P.last           {margin-bottom:0;}
DIV.descriptive-page-right-box-content UL                {list-style:none outside none;margin-bottom:0;}








/* for medical campus page*/
A:hover.campus{color:#CC0000;}
A:active.campus{color:#CC0000;}

/* yl 2-19-13 - override the % settings from feedback simple module (feedback tab) so we can use px instead*/
#feedback_simple a{
  top: 345px !important;
}

/* yl 2-21-13 - table styling */
table {
  border:none;
  width:100%;
  border-collapse:separate;
  border-spacing:2px 0;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}
/* yl 2-22-13 - styling for the label that appears above the column headers */
thead tr th.thead_label {
  background-color:#aaa;
  text-align:left;
  color:#fff;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  font-weight:700;
  text-shadow: 0 1px 1px #666;
}
/* yl 2-22-13 - styling for links that might be in the thead_label */
thead tr th.thead_label a:link,
thead tr th.thead_label a:visited {
  color:#fff;
}
thead tr th.thead_label a:hover {
  color:#1859B7;
}
thead th, th {
  text-align:left;
  background:none repeat scroll 0 0 #E6E6E6;
  border-top:1px solid #e6e6e6;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  font-weight:700;
}
thead {
  height:2.5em;
  border-top:1px solid #e6e6e6;
  background:#e6e6e6;
}
th.active {
  background: none repeat scroll 0 0 #edf1f7;
  border-left:none;
  border-right:none;
}

/* yl 2-22-13 - positioning for the sorting graphic, if a column is sortable */
th a img {
  margin: 0 0 4px 5px;
}
td.active {
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}
/* yl 2-22-13 - active is the color of the column when it is selected (sorted on) */
td.odd td.active {
  background: none repeat scroll 0 0 #edf1f7;
}
td.even td.active {
  background: none repeat scroll 0 0 #edf1f7;
}
td {
  border-left: 1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}
.gsc-results-wrapper-nooverlay.gsc-results-wrapper-visible td,
.gsc-control-searchbox-only.gsc-control-searchbox-only-en td {
  border:none;
}
tr.odd {
  background-color: #fff;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
tr.odd td {
  background-color:#fff;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
}
tr.even {
  background-color: #f2f2f2;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
tr.even td {
  background-color:#f2f2f2;
}
/* changed background to get rid of hover color */
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
  background:none;
}
tr.even td.active {
  background-color:#edf1f7;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
}
/* yl 2-22-13 - styling specific for the alpha_dir page*/
.view-display-id-page_1 tr.even:hover td.active {
  background-color:#edf1f7;
}
.view-display-id-page_1 tr.odd:hover td.active {
  background-color:#f2f2f2;
}
th.views-field-field-last-name-1 {
  width:20%;
}
/* yl 2-22-13 - styling specific for the dept_dir page*/
.dept_dir_address{margin-bottom:1.5em;}
.dept_dir_header, .dept_dir_address {clear:both;}
.dept_dir_name, .dept_listBlock {overflow:hidden;}
.dept_listBlock_column {width:50%;float:left}

/* styling specific for the tab page menus */
.tabPage {width:900px;}
.tabPageCol {width:33.3%; float:left;}
.tabPageCol UL LI  {line-height: 1.75em; list-style-type: none;}

/* yl 2-28-13 - styling for the footer */
#zone-footer {
  background:#e6e6e6;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  /*font-size:1em; /*12px = 12 ÷ 12 = 1*/
  /*font-size:0.8571428571428571em; /*12px = 12 ÷ 14 = 0.8571428571428571*/
  font-size:0.9230769230769231em; /*12px = 12 ÷ 13 = 0.9230769230769231*/
  color:#333;
  box-shadow: inset 0px 3px 3px 0 #CCC, 3px 3px 3px 0 #CCC, -3px 3px 3px 0 #CCC;
}
#zone-footer .block {
  margin:0;
}
#zone-footer a:hover {
  color:#0062A0;
}
#footer_top {
}
#footer_col1 {
  /*width:145px;*/
  width:225px;
  float:left;
  /*padding:1.5em 5px 1.5em 0;*/
  padding:15px 5px 15px 0;
  min-height:6.5em;
}
#footer_col1 a {
  color:#4d4d4d;
}
#footer_col2 {
  /*width:194px;*/
  width:195px;
  float:left;
  border-left:1px dashed #ccc;
  /*padding:1.5em 20px;*/
  padding:15px 25px;
  min-height:6.5em;
}
.col2_left {
  float:left;
  clear:left;
}
.col2_right {
  float:right;
}
#footer_col3 {
  /*width:127px;*/
  width:215px;
  float:left;
  border-left:1px dashed #ccc;
  /*padding:38px 4px 3px;*/
  padding:1.2em 10px;
  min-height:6.5em;
  text-align:center;
}
#facebook {
  float:left;
  /* padding:0 0 0 20px; */
  padding: 20px 0 20px 50px;
}
#twitter {
  float:left;
  /* padding:0 5px; */
  padding: 20px 5px;
}
#instagram {
  float:left;
  /* padding:0 20px 0 0;*/
  padding: 20px 0px;
}
#facebook img,
#twitter img,
#instagram img {
  width:32px;
  height:32px;
}
#footer_col4 {
  /*width:225px;*/
  width:217px;
  float:left;
  border-left:1px dashed #ccc;
  /*  padding:33px 10px 8px;*/
  padding:1.5em 0 1.5em 10px;
  min-height:6.5em;
}
#cic {
  float: left;
  /* padding:0 0 0 10px; */
  padding: 5px 10px;
}
#us_dep{
  float:left;
  padding: 10px 0;
}
#vale_icon {
  float:left;
  /* padding:0 10px 0 15px; */
  padding: 10px;
}
/*
#footer_col5 {
  float:left;
  width:133px;
  min-height:5.5em;
  border-left:1px dashed #ccc;
  padding:1.5em 0 1.5em 15px;
  padding:15px 0 27px 13px;
}
#footer_col5 a {
  color:#0032C6;
}
*/
#footer_bottom {
  clear:both;
  background:#d6d6d6;
  margin:0 -10px;
  padding:3px 0;
}
#footer_bottom a {
  color:#333;
}
#footer_bottom_left {
  margin-left:10px;
  float:left;
}
#footer_bottom_right {
  float:right;
  text-align:right;
  margin-right:10px;
}
/*mak3--3.13 */
#footer_bottom_center {
  text-align:center;
}
#block-views-alerts-block-1, #block-views-alerts-block-2 {margin-bottom:0}
/* yl 3-1-13 - styling for the alert message */
#alert_message {
  border-radius:5px;
  border:2px solid #d20134;
  padding:10px;
  background:#E8E6E2;
  color:#1859b7;
  margin-bottom:1.5em;
}
#alert_message p{
  margin-bottom:0;
}
#block-block-15 {
  margin-bottom:0;
}
#close-btn {
  left: 10px;
  position: relative;
  top: 10px;
}
.nochat #close-btn {
  left:275px;
}
/* Styling of the "more" link */
.more-link {

}
.more-link a {
  clear:both;
  float: right;
  margin-top: -10px;
  padding: 2px 20px 0;
  text-align: right;
  background-image:url("../images/question_mark_arrow.png");
  background-position:43px -52.5px;
  background-repeat:no-repeat;
  /*color:#333333;*/
  font-family:"Lucidia Console",Monaco,monospace;
  font-variant:small-caps;
  /*font-size: 1em;       /*12px = 12 ÷ 12 = 1*/
  /*font-size: 0.8571428571428571em;  /*12px = 12 ÷ 14 = 0.8571428571428571*/
  font-size:0.9230769230769231em; /*12px = 12 ÷ 13 = 0.9230769230769231*/
  line-height: 1.5em;  /*18px = 18 ÷ 12 = 1.5*/
  /*line-height:1.75em;  /*21px = 21 ÷ 12 = 1.75*/
  margin-right: 3px;
}
/* styling for the landing pages */
.link-heading {
  font-size:1.076923076923077em;  /* 14px --> 14 ÷ 13 = 1.076923076923077 */
  line-height:1.392857142857143em;  /* 19.5px --> 19.5 ÷ 14 = 1.392857142857143 */
  color:#555;
  border-bottom: 1px dotted #b54310;
  padding:0 0 3px 0;
  margin-bottom:0;
}
.link-heading a,
.link-heading-text {
  padding-bottom:5px;
  padding-top:5px
}
#chaton_header {
  float: left;
  margin-left: 15px;
  margin-top: 35px;
  width: 100px;
  font-size: 1.07692em;
  font-weight:700;
}
#chaton_links {
  float: left;
  margin-left: 35px;
  margin-top: 35px;
}
#chaton_links a {
  margin:0 10px;
  color:#fff;
}
#chaton_links a:hover {
  color:#000;
}
.no-left-margin {
  margin-left:0 !important;
}
.no-right-margin {
  margin-right:0 !important;
}
.no-margins {
  margin-left:0 !important;
  margin-right:0 !important;  
}
.landing-page {
  background-color:#EFEFEF;
  border:1px solid #ccc;
  padding:10px;
  margin-bottom:1.5em;
  overflow:hidden;
}
.landing-page div {
  margin-bottom:1em;
}
.landing-page-image {
  text-align:right;
}
.grid-4.no-right-margin DIV.descriptive-page-right-box {
  margin:0 0 1.5em 0;
}
.right_arrow {
  float:right;
}
.container-12 .landing-page.grid-4 {
  width: 278px;
}
.landing-page h3 {
  color:#b54310;
}
/*styling for the libraries and centers page and maps and directions page*/
.lib_address {
  margin-top:5px;
  float:left;
}
.lib_pic {
  margin-top:5px;
  float:right;
}
.lib_pic img {
  border:2px solid #ccc;
}
.right_arrow_map {
  float:right;
}
.right_arrow_map img {
  height:21px;
}
.lib_center_info {
  min-height:185px;
}
.lib_center_info,
.campus_info {
  clear:both;
}
.campus_info {
  border:1px solid #ccc;
  overflow:hidden;
  margin-bottom:1em;
}
.campus_info .lib_block {
  width:50%;
  float:left;
  min-height:325px;
}
.campus_info .lib_block_info {
  min-height: 300px;
  padding-top: 25px;
  margin-right:5px;
}
.campus_info h2.block-title {
  border:none;
}
.campus_info .lib_name {
  padding:5px;
  font-weight:700;
}
.campus_info .lib_map img {
  margin:0 5px;
  border:2px solid #ccc;
  height:200px;
}
.campus_info .lib_address {
  margin:5px;
}
.campus_info .lib_phone {
  float:left;
  margin:5px 5px 5px 10px;
}
a.campus_map_link {
  margin-left:100px;
  float:right;
}
ul.indented  {
  padding-left:50px;
}
ul.indented li {
  list-style-image:url("../images/featherbullet_small.png") !important;
}
#block-menu-menu-alternate-sub-page-secondar .leaf .my_account {
  font-size:1em;
}
#rusearch {
  height: 18px;
  padding-top:10px;
}
#rusearchbox {
  color: #666666;
  width: 125px;
}
#rusearchbox, #rusearchselect {
  border: 1px solid #666666;
  font-size: 10px;
  font-family:'Droid Sans', sans-serif;
  font-size:1em;
}
#rusearchbutton {
  background: url("/sites/default/themes/RUL_D7/images/search3.png") no-repeat scroll center center transparent;
  border: medium none;
  height: 18px;
  padding: 0;
  text-indent: -9999px;
  width: 22px;
}
/* CSS FOR THE DANA ARCHIVE PAGE (/news/archive/dana) */
.view-id-alternate_front_page_news.view-display-id-page_4 div.view-header {
  float:right;
  width:300px;
}
.view-id-alternate_front_page_news.view-display-id-page_4 div.view-content {
  float:left;
  width:620px;
}
.view-id-alternate_front_page_news.view-display-id-page_4 div.item-list li {
    list-style-image: url("../images/featherbullet_small.png");
}
/* yl 7/25/13 - styling for the top header menu links */
#region-top-menu {
  margin:0;
}
#region-top-menu div {
  margin:5px 0;
}
#region-top-menu .first.leaf {
  margin:0;
}
#region-top-menu .top-menu-borders {
  border-left:1px solid #555555;
  border-right:1px solid #555555;
  padding: 0 10px;
}
#region-top-menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}
#region-top-menu .content {
  margin:0;
  width:auto;
  /*padding-top: 4px;*/
}
#region-top-menu .content a {
  color: #555555;
  text-decoration:none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667 */
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857 */
  font-size:0.9em; /*13px */
}
#region-top-menu .content a:hover {
  /*color:#0062A0;*/
  color:#555555;
}
#region-top-right-menu {
  margin:0 0 0 35px;
}
#region-top-right-menu div {
  margin:5px 0;
}
#region-top-right-menu .first.leaf {
  margin:0;
}
#region-top-right-menu li {
  display: inline;
  list-style-type: none;
  padding: 0;
}
#region-top-right-menu .content {
  margin:0;
  width:auto;
  float:right;
  /*padding-top: 4px;*/
}
#region-top-right-menu .content a {
  color: #555555;
  text-decoration:none;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667 */
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857 */
  font-size:0.9em; /*13px */
}
#region-top-right-menu .content a:hover {
  /*color:#0062A0;*/
  color:#555555;
}
.top-header-divider {
  border-left:1px solid #555555;
  padding: 0 0 0 10px;
}
.top-header-divider img {
  width:20px;
  height:20px;
}
.alpha-link-db {
  border: 1px solid #CCCCCC;
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  width: 10px;
}
.alpha-link-db.all, .alpha-link-db.active.all {
  width:20px;
}
.alpha-link-db.active {
  border:none;
  font-weight:700;
}
/* for splitting left col into 2 col */
/* copied from library css widths amended */
div.libPageLeftCol {width:250px;float:left;padding-right:10px;}
div.libPageRightCol {width:250px;float:left;padding-left:10px;}
/* following is from h2.block-title */
div.libPageLeftCol h2  {background-color:#EDEDED;border:1px solid #CCCCCC;color: #555555;font-size:1em;line-height:1.5em;margin:0;padding:0.2em 0.4em;}
div.libPageRightCol h2 {background-color:#EDEDED;border:1px solid #CCCCCC;color: #555555;font-size:1em;line-height:1.5em;margin:0;padding:0.2em 0.4em;}

.content object embed {
  width:100%;
  height:500px;
}
.db_art_plus {
  width:70%;
}
.art_plus_table {
  float:left;
}
.yes_check {
  width:16px;
  height:16px;
}
.view-display-id-page_2 .views-field-name {width:20%}
.view-display-id-page_2 .views-field-field-monday,
.view-display-id-page_2 .views-field-field-tuesday,
.view-display-id-page_2 .views-field-field-wednesday,
.view-display-id-page_2 .views-field-field-thursday,
.view-display-id-page_2 .views-field-field-friday,
.view-display-id-page_2 .views-field-field-saturday,
.view-display-id-page_2 .views-field-field-sunday {width:11%;}