/* styling for the mini-search tabs */
.region-mini-searchtabs-inner {
  padding-top:11px;
}
#tContainer {
  /*width:350px;*/
  /*background: none repeat scroll 0 0 #e6e6e6;*/
  font-family: Droid Sans;
  /*font-size: 1em; /*12px = 12 ÷ 12 = 1*/
  /*font-size: 0.8571428571428571em;  /*12px = 12 ÷ 14 = 0.8571428571428571*/
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  line-height: 1.333333333333333em; /*16px = 16 ÷ 12 = 1.333333333333333*/
  padding-top: 5px;
  /*border-top:1px solid #999999;*/
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
#tContainer ul  {
  list-style-type:none;
  text-align:left;
  margin:0;
  padding:0;
  white-space:nowrap;
}
#tContainer li {
  background: none repeat scroll 0 0 #E6E6E6;
  border:1px solid #999999;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #333333;
  cursor: pointer;
  display: inline;
  margin: 0 0 0 -4px;
  position: relative;
}
#tContainer li.picked {
  background-color:#FFFFFF;
  border-top:2px solid #e31836;
  border-bottom:none;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  color:#D20134; 
  font-weight:700;
}
#tContainer li.art {
  border-left:1px solid #999999;
  margin-left:0;
  padding:7px 10px 2px;
}  
#tContainer li.art.picked {
  border-left:1px solid #D3D3D3;
  padding: 7px 10px 3px;
}
#tContainer li.cat,
#tContainer li.jou,
#tContainer li.media,
#tContainer li.reserves {
  padding:7px 10px 2px;
}
#tContainer li.cat.picked,
#tContainer li.media.picked {
  padding: 7px 10px 3px;
}
#tContainer li.jou.picked {
  padding:7px 10px 3px 11px;
}
#tContainer li.reserves.picked {
  border-right: 1px solid #CCCCCC;
  padding:7px 11px 3px 12px;
}
/*firefox spacing for mini-search tabs*/
@-moz-document url-prefix() {
  #tContainer li.art {
    padding:7px 10px 2px 9px;
  }  
  #tContainer li.art.picked {
    padding: 7px 8px 3px;
  }
  #tContainer li.cat,
  #tContainer li.jou,
  #tContainer li.media  {
    padding:7px 10px 2px;
  }
  #tContainer li.cat.picked {
    padding: 7px 10px 3px;
  }
  #tContainer li.jou.picked {
    padding:7px 9px 3px;
  }
  #tContainer li.media.picked {
    padding:7px 8px 3px 9px;
  }
  #tContainer li.reserves {
    padding:7px 11px 2px;
  }  
  #tContainer li.reserves.picked  {
    padding:7px 8px 3px 9px;
  }
}
/*IE 8+ spacing for mini-search tabs*/
#tContainer li.art.picked {
  padding: 7px 6px 3px 7px \9; 
}
#tContainer li.cat.picked {
  padding: 7px 8px 3px \9;
}
#tContainer li.jou.picked {
  padding:7px 6px 3px 7px \9;
}
#tContainer li.media.picked {
  padding:7px 5px 3px \9;
}
#tContainer li.reserves.picked  {
  padding:7px 3px 3px \9;
}

#sContainer {
  /*width:377px;*/
  /*height:70px;*/
  border:1px solid #D3D3D3; 
  border-top:1px solid #999999;
  background-color:#FFF; 
}

.con  {
  height:3.8em;
  margin: 10px 0;
  display:none;
  background-color:#FFF;
  border:0px dotted #d6d6d6;
}

.input, .input[type="text"] {
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667*/
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857*/
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
  width:250px;
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}
.input.noFocus  {
  color:#999999;
  font-style:italic;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}
.input.straight {
  color:#000000;
  font-style:normal;
}

.content  {
  margin:0;
  width:100%;
}

.content.cat  {
  margin-top:0em;
  font-weight:bold;
}
.content.art  {
  margin-top:0em;
  font-weight:bold;
}
.content.jou  {
  margin-top:0em;
  font-weight:bold;
}
.content.reserves {
  margin-top:0em;
  font-weight:bold;
}
.advanced {
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  /*font-size:0.875em;  /*10.5px = 10.5 ÷ 12 = 0.875*/
  /*font-size:0.75em;   /*10.5px = 10.5 ÷ 14 = 0.75*/
  font-size:0.8076923076923077em;   /*10.5px = 10.5 ÷ 13 = 0.8076923076923077*/
  font-weight:normal;
  float:right;
}
.advanced a {   
  color: #4d4d4d;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667*/
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857*/
  /*font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
}
.art .advanced {
  margin: -20px 18px 0 0;
}
.cat .advanced {

  margin: -26px 40px 0 0;
}
.jou .advanced {
  margin: -26px 40px 0 0;
}
.media .advanced {
  margin: -26px 40px 0 0;
}
.shiny  {
  font-weight:normal;
  /*font-size:1em; /*12px = 12 ÷ 12 = 1*/
  /*font-size:0.8571428571428571em; /*12px = 12 ÷ 14 = 0.8571428571428571*/
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */

}
.shiny.reg  {
  /*font-size:1em; /*12px = 12 ÷ 12 = 1*/
  font-size:0.8571428571428571em; /*12px = 12 ÷ 14 = 0.8571428571428571*/
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  background:url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.shiny.large  {
  /*font-size:.87em;*/
  /*background: url(../images/searchtabs/shiny-bg.png) repeat-x;*/
  border-radius: 5px 5px 5px 5px;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667*/
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857*/
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
  margin: 3px 61px 0 0;
  float: right;
  padding: 2px 5px;
  font-weight:normal;  
}
.shiny.small  {
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667*/
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857*/
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
  background: url(../images/searchtabs/shiny-bg.png) repeat-x;
}
.what {
  position:absolute;
  margin:2em 0 0 390px;
}
.what-text  {
  /*font-size:1em; /*12px = 12 ÷ 12 = 1*/
  /*font-size:0.8571428571428571em; /*12px = 12 ÷ 14 = 0.8571428571428571*/
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  font-weight:normal;
  text-decoration:underline;
  cursor:pointer;
}
.what-icon-q  {
  width:35px;
  height:35px;
  background-image:url(../images/searchtabs/questionmark.png);
  background-repeat:no-repeat;
  background-position:0px 0px;
  cursor:pointer;
}
.what.lower {
  margin-top:165px;
}
.what-content {
  text-align:left;
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667*/
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857*/
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#ffffff;
  margin:0 0 0 -400px;
  padding:5px;
  display:none;
  z-index:10;
}
.what-content P {
  width:400px;
}
.what-icon-q{display:none;}
.what-content{margin: 45px 0 5px -372px;}
.hint {
  text-align:left;
  /*font-size:1em; /*12px = 12 ÷ 12 = 1*/
  /*font-size:0.8571428571428571em; /*12px = 12 ÷ 14 = 0.8571428571428571*/
  font-size: 0.9230769230769231em;  /* 12px --> 12 ÷ 13 = 0.9230769230769231 */
  font-weight:normal;
  border:1px solid #c1c1c7;
  position:absolute;
  background-color:#f2f2f2;
  padding:5px;
  display:none;
  z-index:10;
  margin: 10px 0 0 5px;
}
.hint.books {margin-left: 60px;}
.hint.journals  {margin-left: 115px;}
.hint.media {margin-left:75px;}
.hint.reserves  {margin-left: 225px;}
.what-content P {width:330px;}
#dbgroup, #srchfield1, #srchfield2, #mediasearch, #reserve-filter {
  /*font-size:0.9166666666666667em; /*11px = 11 ÷ 12 = 0.9166666666666667 */
  /*font-size:0.7857142857142857em; /*11px = 11 ÷ 14 = 0.7857142857142857 */
  font-size:0.8461538461538462em; /*11px = 11 ÷ 13 = 0.8461538461538462 */  
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  padding:0;
  color:#4d4d4d;
  width:250px;
}