h1 {
  /*margin-bottom:0;*/
  /*bump h1 size down to h3 global size
  font-size: 1.2857142857142858em;
  line-height: 1.1666666666666667em;*/
}
.block-news-block-2,
.block-news-block-3,
.block-b67c2ee25d13bf60ed3d864be599ab88,
.block-03543ecf3c873e9e65378a589dbecb9b {
  /*border:1px solid lightgrey;*/
  /*border-radius:10px 10px 0 0;*/
  margin-bottom:1.5em;
}

#block-views-news-block-2 .content,
#block-views-news-block-3 .content,
#block-views-b67c2ee25d13bf60ed3d864be599ab88 .content,
#block-views-03543ecf3c873e9e65378a589dbecb9b .content {
  border:1px solid #e8e8e8;
  border-top:none;
  padding:0.5em;
  width:auto;
}
#block-views-news-block-2 .views-row-even,
#block-views-news-block-3 .views-row-even,
#block-views-b67c2ee25d13bf60ed3d864be599ab88 .views-row-even,
#block-views-03543ecf3c873e9e65378a589dbecb9b .views-row-even {
  margin:1em 0;
}
#block-views-news-block-2 a,
#block-views-news-block-3 a
#block-views-b67c2ee25d13bf60ed3d864be599ab88 a,
#block-views-03543ecf3c873e9e65378a589dbecb9b a {
  /*color:#1859b7;*/
  color: #0023C6;
  text-decoration:none;
}
#block-views-news-block-2 a:hover,
#block-views-b67c2ee25d13bf60ed3d864be599ab88 a:hover {
  color:#0062A0;
}
.field-name-field-last-updated {
  margin:1.5em 0;
}
.field-name-field-image,
.field-name-field-news-image,
.field-name-field-image-collection {
  width:300px;
  float:right;
  margin:0 0 0 1.5em;
  background-color:#e4e4e4;
}
.field-name-field-image-collection {background-color:#fff;}
/* .field-collection-item-field-image-collection {margin-bottom:1.5em;} */
.field-item.odd .field-collection-item-field-image-collection {margin:1.5em 0}
.field-name-field-image img,
.field-name-field-news-image img {
}
.field-name-field-image .field-item.odd,
.field-name-field-news-image .field-item.odd {
  margin-top:1em;
}
.field-name-field-image-caption,
.field-name-field-news-image-caption {
  width:287px;
  float:right;
  /* margin:-1.5em 0 0 1em; */
  background-color:#f2f2f2;
  padding:.5em;
  font-style:italic;
  color:#666666;
}
.field-name-field-image-caption p,
.field-name-field-news-image-caption p {
  margin-bottom:0;
}
.field-item img {
  display:block;
  margin:0 auto;
}
.field-name-field-image-caption .field-items .field-item.odd,
.field-name-field-news-image-caption .field-items .field-item.odd {
  margin-top:1em;
}
/* .field-name-body {
  word-wrap:break-word;
} */