/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.main-menu {float:right;}
.logo-img  {float:right;margin-right:50px;}
#zone-branding {height:210px;}