/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */



.main-menu {float:right;}
.logo-img  {float:right;margin-right:50px;}
#zone-branding {height:210px;}