/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */


background-color: {background:red;}

.main-menu {float:right;}
.logo-img  {float:right;margin-right:50px;}
#zone-branding {height:210px;}