/* Landscape phones and down */
@media only screen and (max-width: 480px) {
  #section-header,
  #section-footer,
  #feedback_simple  {
    display:none
  }
  #section-content {
  }
  body {
    min-width:320px !important;
  }
  .zone {
    border:none;
    box-shadow:none
  }
  #zone-content {padding:0;}
  .content, #page {
    background:#f9f9f9;
  }
  h1#page-title {display:none}
  #mobile-page-title { 
    display:block !important;
    font-weight:700;
    padding:10px 0 0 10px;
  }
  #smith-mobile-banner  {
    display:block !important;
    background-color:#D21034;
    height:55px;
    margin-left:-15px;
    min-width:350px;
  }
  /*banner image*/
  #smith-mobile-banner img {width:280px}  
  .container-12 .grid-12 { 
    margin-left:0;
    width:320px !important
  }
  .container-12 {
    width: 320px !important;
    background-color:#f9f9f9
  }
  #page {width:350px}
  #webform-client-form-3014 {padding:0px 10px}
  #webform-client-form-3014 input, 
  #webform-client-form-3014 textarea {width:250px}
  label {font-weight:400}
}
