/*This file contains styles for the user profile pages (/profile/<firstname>_<lastname>))*/

#visitingcard {
  background: none repeat scroll 0 0 #e6e6ed;
  border: 1px dotted #CCCCCC;
  border-top:none;
  border-collapse: separate;
  border-spacing: 2px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  background-image: url('/sites/default/themes/RUL_D7/images/greybk_seal.png');
  background-position: 207px bottom;/*right bottom;*/
  background-repeat:no-repeat;
  /*min-height:210px;*/
  margin-bottom:1.5em;
  padding:10px 0;
  overflow:auto;
}
#visitingcard-wrapper {overflow-x:auto;overflow-y:hidden;float:left;width:440px}
/* #profile_pic {background:#ededed;padding:36px 0;border:1px dotted #CCCCCC;border-radius:6px} */
#profile_pic {/*border:3px solid #a9a9a9*/background:#e6e6ed;margin-right:10px;float:right}
.user-picture{/*width:100px;height:100px;*/}
.user-picture img {display:block;border:1px dotted #CCCCCC/*3px solid #A9A9A9*/}
.no_profile_pic {width:375px}
.nameofperson {background-color:#e6e6ed;font-weight: bold;border: 1px dotted #CCCCCC;border-bottom:1px solid #a9a9a9;}
.nametext {font-size:1.2em;padding:0.5em 10px;}
#orcid, #researcherid {float:right;font-size:0.8em;color:#555}
#orcid a, #researcherid a {color:#555}
#fname, #lname {color: #555;}
#info {float:left;}
#resume, #website {}
#lib_address {margin-right:10px;}
.field, #function-title, #sub-dept, #dept, #lib_address, #phone, #email {padding-left:10px}
#function-title, #sub-dept, #dept, #lib_address, #phone, #email, #resume, #website {float:left}
#sub-dept,#dept, #phone {clear:left}
#email_resume_website_container {clear: both;height:1em;margin-bottom:10px}
.emptydiv {padding: 7px;clear:both;}
#phone {font-weight: bold}
#email {font-style: italic; }
#profile_field_1, #publications, #experience, .extra_fields {border:1px solid #ccc;clear:both;margin-bottom:1.5em;padding:0.5em;}
#profile_field_1 {border:none;margin-bottom:0}
.profile_field_left {float:left !important}
.profile_field_right {float:right !important}
#publications, #experience, .extra_fields {border-top:none;}
#profile_field_1 ul, #publications ul, #experience ul, .extra_fields ul, #profile_field_1 ol, #publications ol, #experience ol, .extra_fields ol {padding-left:1em};
#resume_website_container {}
#resume, #website, #fb, #twtr, #linkedin {clear:both;margin-bottom:10px;}
#social a {margin-right:10px;}
#social img {width:21px; height:21px}
#card-right {}
.address_container_left {float:left; width:240px;}
.address_container_right {float:left}
#profile_blocks {width:960px;margin-left:-10px;float:left;display: inline;}
#card-left {float:left;width:150px;height:200px;margin-left:10px;}
#card-right {}